<div class="widget palette-2-bg mt-0">
  <h4 class="widget-title heavy">Request a quote</h4>
  <div class="widget-content">
    <p>
      At USU’s high-performance computing and bioinformatics facility, we have developed a series of parallel, multicore, CPU-based,
      open-source pipelines for large-scale -omics data analysis, which enables efficient and parallel analysis of multiple datasets
      in a short period of time.
    </p>
    <p><a href="contact" class="btn kbl-btn-1">get in touch</a></p>
  </div>
</div>
