<div class="widget widget-categories">
  <h4 class="widget-title heavy">Other Services</h4>
  <div class="widget-content">
    <ul>
      <li><a class="palette-2" href="services/rnaseq">RNA-seq</a></li>
      <li><a class="palette-2" href="services/varseq">VAR-seq</a></li>
      <li><a class="palette-2" href="services/chipseq">ChIP-seq</a></li>
      <li><a class="palette-2" href="services/metagenomics">Metagenomics</a></li>
      <li><a class="palette-2" href="services/16srnaseq">16S-RNA-seq</a></li>
      <li><a class="palette-2" href="services/prokassembly">Prokaryotes Assembly</a></li>
      <li><a class="palette-2" href="services/eukassembly">Eukaryotes Assembly</a></li>
      <li><a class="palette-2" href="services/gbs">GBS (Genotype by Sequencing)</a></li>
      <li><a class="palette-2" href="services/medips">Methylation (MeDIPS)</a></li>
      <li><a class="palette-2" href="services/rrbs">Methylation (RRBS)</a></li>
      <li><a class="palette-2" href="services/mirna">miRNA</a></li>
    </ul>
  </div>
</div>
