{% from 'universal/nav/nav.services.njk' import services %}

<div class="widget widget-categories pb-2">
  <h4 class="widget-title heavy">Other Services</h4>
  <div class="widget-content">
    <ul>
      {% for service in services %}
        <li class="py-2">
          <a class="palette-2" href="services/{{ service.url }}">{{ service.navName }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
