{% extends "templates/service.template.njk" %}
{%  from "components/svc-titlebar/svc-titlebar.njk" import titlebar %}

{% block title %}
  {{ titlebar('Eukaryotes: De Novo Genome Assembly and Annotation', 'Eukaryotes') }}
{% endblock %}

{% block content %}
  <article class="post single">
    <figure class="post-thumbnail"><img src="img/services/eukaryotes.jpg" alt=""></figure>
    <header class="article-header">

      <h2 class="title">How Eukaryotes <i>de novo</i> genome Assembly and Annotation Works</h2>
    </header>
    <p>
      Genome assembly is the process of taking many individual disconnected graphs (pieces of the DNA) that are processed
      independently by an assembler and putting them back together to create the original assembly. Our De Novoassembly
      pipeline for Eukaryotes consists of the following parts:
    </p>

    {% from "components/svc-prev-next/svc-prev-next.njk" import switch %}
    {{ switch("services/prokassembly", "services/gbs") }}
  </article>
{% endblock %}
