<!DOCTYPE html>
<html lang="en">
	{% include "universal/_header.njk" %}
	<body>
		{% include "universal/_preload.njk" %}
		<div id="page" class="page">
			<div id="content-wrapper" class="content-wrapper">
				<div class="content-wrapper-inner">
					{% include "universal/_navbar.njk" %}

          <!-- Page titlebar start -->
					<div class="content-section decorated-bg page-titlebar">
						<div class="container">
							<div class="row">
								<div class="col-lg-12">
									<h1 class="title">Eukaryotes: <i>de novo</i> genome Assembly and Annotation</h1>
									<ol class="breadcrumb">
										<li><a href="index.html">Home</a></li>
										<li><a href="page-services.html">services</a></li>
										<li class="active">Eukaryotes</li>
									</ol>
								</div>
							</div>
						</div>
					</div><!-- Page titlebar end -->
					<!-- Page content start -->
					<div class="content-section" style="padding-bottom: 0px;">
						<div class="container">
							<div class="row">
								<div class="col-md-8">
									<!-- Article start -->
									<article class="post single">
										<figure class="post-thumbnail"><img src="images/2250x1500.png" alt=""></figure>
										<header class="article-header">

											<h2 class="title">How Eukaryotes <i>de novo</i> genome Assembly and Annotation Works</h2>
										</header>
										<p>Genome assembly is the process of taking many individual disconnected graphs (pieces of the DNA) that are processed independently by an assembler and putting them back together to create the original assembly. Our De Novoassembly pipeline for <span style="color: #ff0000">Eukaryotes</span> consists of the following parts:</p>
										<p><b>Pre-assembly analysis:</b></p>
										<p><b>Post-assembly analysis:</b></p>
										<p>Next</p>
										<figure class="preview fl-r"><a href="images/2250x1500.png" class="lightbox-images"><img src="images/2250x1500.png" alt=""></a>
											<figcaption><strong>Figure #2:</strong> We focus on passion and leadership.</figcaption>
										</figure>
										<p>More</p>
										<p>More</p>
										<p>more<p>
										<h3>Header</h3>
										<p>conclusion</p>
										<p>stuff</p>
										<blockquote>
											<p>" Do the difficult things while they are easy and do the great things while they are small. A jorney of a thousand miles begin with a single step. "</p>
											<footer>Lao Tzu</footer>
										</blockquote>
										<p>stuff</p>
										<p>1 more</p>
										<footer class="article-footer"><a href="5-Prokaryotes-Assembly.html" class="btn btn-4"><i class="fa fa-angle-left"></i> Prev post</a><a href="8-GBS.html" class="btn btn-4">Next post <i class="fa fa-angle-right"></i></a></footer>
									</article><!-- Article end -->
									</div>

								<div class="col-md-4">
									<div class="sidebar">
										{% include "components/other-services/other-services.njk" %}
										{% include "components/other-pages/other-pages.njk" %}
										{% include "components/svc-req-quote/svc-req-quote.njk" %}
										{% include "components/svc-hiring/svc-hiring.njk" %}
									</div>
								</div>
							</div>
						</div>
					</div><!-- Page content end -->

				</div><!-- Footer start -->
				{% include "universal/_footer.njk" %}
			</div>
		{% include "universal/_footer-scripts.njk" %}
	</body>
</html>
