.content-section.adv-omics {
  background-image: url("/biocore-images/cloud-v5.jpg");
  padding: 40px 10px;
  
  .text-1 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .text-2 {
    letter-spacing: -1px;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
  }
}