$nav-padding: 6%;

.kbl-nav .top-bar {
  background: #f1f9fb;
  padding-right: $nav-padding;
  padding-left: $nav-padding;
}

.kbl-nav .mid-bar {
  padding-right: $nav-padding;
  padding-left: $nav-padding;

  .nav-logo img {
    max-height: 60px;
  }
}

.kbl-nav .bottom-bar {
  height: 50px;
  background: #08237e;
  transition: background-color 0.3s ease;
  padding-right: $nav-padding;
  padding-left: $nav-padding;

  .menu-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-decoration: none!important;
    color: white;
    font-size: 110%;

    &:hover {
      color: var(--palette-1);
    }
  }

  .bottom-menu .dropdown-menu {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 240px;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    border: none;
    margin: 0;
    margin-top: 11px;
    margin-left: 40px;
    transition: max-height 0.3s;
    background: #02124d;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &.selected {
      max-height: 500px;
    }

    .dropdown-item {
      transition: 0.3s;
      padding: 0;
      cursor: pointer;

      &:hover {
        background: var(--palette-1);

        a {
          background: transparent;
        }
      }

      a {
        text-decoration: none;
        font-weight: 500;
        height: 100%;
        width: 100%;
        display: inline-block;
        padding: 12px 14px;
        color: white;
        background: transparent;
        transition: 0.3s;
      }
    }
  }
}

.kbl-nav .is-sticky .bottom-bar {
  background: #fbfbfb;
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.12), 0 2px 3px rgba(100, 100, 100, 0.24);

  .menu-item {
    color: var(--text-main);

    &:hover {
      color: var(--palette-1);
    }
  }

  .dropdown-menu {
    border: none;
    margin-top: 10px;
    background: #fbfbfb;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    .dropdown-item a {
      color: var(--text-main);
    }

    .dropdown-item:hover a {
      color: white;
    }
  }
}

// Remove X from search bar
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
