.content-section.services {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Open Sans', sans-serif;
    color: var(--palette-2);
    letter-spacing: -1px;
  }

  .description {
    font-size: 1.2rem;
  }
}