.text-decor-1 {
  font-size: 0.8rem;
  font-weight: 800;
  color: var(--palette-1);
  letter-spacing: 2px;
}

.text-decor-2 {
  font-size: 2.5rem;
  color: var(--text-main);
}

.intro-text {
  color: var(--text-main);
  font-size: 107%;
  line-height: 1.88;
}