@import '../../../scss/colors';
@import '../../../scss/globals';

.guru-text {
  font-weight: 500;
  font-size: 160%;
  color: #fafafa;
}

.spec-title {
  font-weight: $font-weight-heavy;
  font-size: 145%;
  color: $primary-text;
}

.max-header {
  font-weight: $font-weight-heavy;
  color: #fff;
}

.guru-header {
  color: var(--color-primary);
}

.med-header {
  font-weight: $font-weight-medium;
  color: $primary-text;
}
