{% extends "templates/main.template.njk" %}

{% block content %}

	<article class="container-fluid px-0">
		<section class="img-header">

			<section class="row mt-5 pt-5">
				<div class="col-12">
					<h3 class="text-center max-header">Welcome to the Bioinformatics Core High-Performance Computing Facility!</h3>
				</div>
			</section>

			<section class="row my-4 justify-content-center">
				<div class="col-11 col-md-6 col-lg-6">
					<p class="guru-text">
						The Bioinformatics department hosts the Guru cluster from the Biotech building in Logan, Utah.
						This 7 blade cluster has 448 CPU cores, 3TB of ram, and 250TB of storage.
					</p>
				</div>
			</section>
		</section>
	</article>

	<article class="container-fluid kbl-content-wrapper mt-4">

		<section class="row mb-4">
			<div class="col-12 text-center">
				<h2 class="guru-header">Guru Cluster</h2>
				<span>SSH via authorized_user@biocluster.usu.edu</span>
			</div>
		</section>

		<section class="row mb-5 mt-4">
			<div class="col-4">
				<div class="text-center spec-title">Management Server: Guru</div>
				<div class="bottom-margin">- 2x AMD EPYC 7601 processors (32 cores each with hyper-threading)</div>
				<div>- 32X8 GB RAM (256 GB total)</div>
			</div>

			<div class="col-4">
				<div class="text-center spec-title">Compute Nodes: chela01-05</div>
				<div class="bottom-margin">- 2x AMD EPYC 7601 processors (32 cores each with hyper-threading)</div>
				<div>- 32X16 GB RAM (512 GB available per node)</div>
			</div>

			<div class="col-4">
				<div class="text-center spec-title">GPU Node: chela-g01</div>
				<div class="bottom-margin">- 4 NVIDIA Tesla V100's for heavy ML loads</div>
				<div>- 2x AMD EPYC 7601 processors (32 cores each with hyper-threading)</div>
				<div>- 256 GB of RAM</div>
			</div>
		</section>

	</article>
{% endblock %}
