@import '../../../scss/colors';
@import '../../../scss/globals';

.guru-text {
  font-weight: $font-weight-medium;
  font-size: 160%;
  color: #656565;
}

.spec-title {
  font-weight: $font-weight-heavy;
  font-size: 145%;
  color: $primary-text;
}

.max-header {
  font-weight: $font-weight-heavy;
  color: $primary-text;
}

.med-header {
  font-weight: $font-weight-medium;
  color: $primary-text;
}
