<footer class="site-footer site-footer-1">
  <article class="container-fluid">
    <div class="row px-5 mx-4">
      <section class="col-lg-4 col-md-4">
        <a href="/biotec" title="USU BioinfoCore">
          <img src="biocore-images/pictures3/slide10.png" alt="Utah State" style="max-height:60px;" class="mb-4">
        </a>
        <p class="mt-1">
          At USU’s high-performance computing and bioinformatics facility, we have developed a series of parallel, multicore, CPU-based,
          open-source pipelines for large-scale -omics data analysis, which enables efficient and parallel analysis of multiple datasets
          in a short period of time. The facility provides access to high-performance compute resources, data analysis, hosting, programming
          expertise, backups, and storage. These resources serve scientists at Utah State University, external academia, and industry
          partners to meet their informatics needs in a proficient and cost-effective manner.
        </p>
        <p>Copyright @ 2020 U.S. <a href="">Kaundal Labs</a></p>
      </section>

      <section class="col-md-3 offset-md-1">
        <div class="widget widget-contacts">
          <h5 class="widget-title footer-header">Contact Us</h5>
          <div class="widget-content mt-3">
            <p class="title text-heading">Bioinformatics and HPC Facility</p>
            <p class="address">4700 Old Main Hill<br>Logan, UT 84322-4700 </p>
            <p class="phone">1 (435) 797-2753</p>
            <p class="email"><a href="page-contacts.html">biocore.usu.edu@mail.com</a></p>
          </div>
        </div>
      </section>

      <section class="col-md-4">
        <div class="widget widget-follow">
          <h5 class="widget-title footer-header">Follow Us</h5>
          <div class="widget-content mt-3">
            <p>Feel free to reach out to us on social media!</p>
            <p class="links">
              <a href="https://www.facebook.com/BioinfoCore-at-Utah-State-University-102633644416841" class="footer-social-icon"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/Bioinfocore2" class="footer-social-icon"><i class="fa fa-twitter"></i></a>
              <a href="https://www.linkedin.com/company/bioinfocore" class="footer-social-icon"><i class="fa fa-linkedin"></i></a></p>
          </div>
        </div>
      </section>

    </div>
  </article>
</footer>
