<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% from "env.njk" import baseUrl %}
  <base href="{{ baseUrl }}" />
  <title>Utah State University Bioinformatics Facility</title>
  <meta name="Utah State University Bioinformatics Facility" content="Welcome to USU bioinformatics core facility ... BioinfoCore is a non-profit facility at Utah State University. ... Learn how BioinfoCore analyzes your Omics data.">
  <link rel="stylesheet" href="public/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,800" rel="stylesheet">
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/style-1.css" id="template-skin">
</head>
