{% from 'universal/_active-route.njk' import mobileActiveRoute %}

<nav class="mobile-nav-wrapper d-lg-none">
  <article class="mobile-nav">
    <div class="row h-100 pt-2 px-3 content">
      <section class="col text-center my-auto">
        <a href="/" class="mob-nav-link {{ mobileActiveRoute(activeRoute, 'home') }}">
          <div class="icon-container">
            <i class="fas fa-home mob-nav-icon"></i>
          </div>
          <span class="mob-nav-icon-text">Home</span>
        </a>
      </section>

      <section class="col text-center my-auto">
        <a href="/services" class="mob-nav-link {{ mobileActiveRoute(activeRoute, 'services') }}">
          <div class="icon-container">
            <i class="fas fa-server mob-nav-icon"></i>
          </div>
          <span class="mob-nav-icon-text">Services</span>
        </a>
      </section>

      <section class="col text-center my-auto">
        <a href="/pricing" class="mob-nav-link {{ mobileActiveRoute(activeRoute, 'pricing') }}">
          <div class="icon-container">
            <i class="fas fa-dollar-sign mob-nav-icon"></i>
          </div>
          <span class="mob-nav-icon-text">Pricing</span>
        </a>
      </section>

      <section class="col text-center my-auto">
        <a href="/faq" class="mob-nav-link {{ mobileActiveRoute(activeRoute, 'faq') }}">
          <div class="icon-container">
            <i class="fas fa-question mob-nav-icon"></i>
          </div>
          <span class="mob-nav-icon-text">FAQ</span>
        </a>
      </section>

      <section class="col text-center my-auto">
        <a href="/news" class="mob-nav-link {{ mobileActiveRoute(activeRoute, 'news') }}">
          <div class="icon-container">
            <i class="fas fa-newspaper mob-nav-icon"></i>
          </div>
          <span class="mob-nav-icon-text">News</span>
        </a>
      </section>
    </div>
  </article>
</nav>
