<header class="site-header site-header-1">
  <!-- Top bar start -->
  <article class="container-fluid navbar-side-padding" style="background: #f1f9fb!important;">
    <div class="row py-2">
      <section class="d-inline-block col-sm-9 col-12 text-center text-sm-left">
        <span class="mx-2"><a href="#" class="navbar-quick-link">Our Team</a></span>
        <span class="mx-2"><a href="#" class="navbar-quick-link">Newsroom</a></span>
        <span class="mx-2"><a href="#" class="navbar-quick-link">Careers</a></span>
        <span class="mx-2"><a href="#" class="navbar-quick-link">Contact Us</a></span>
      </section>
      <section class="d-inline-block text-center text-sm-right col-sm-3 col-12">
        {% set facebookLink = "https://www.facebook.com/BioinfoCore-at-Utah-State-University-102633644416841" %}
        <span class="mx-2"><a href="{{ facebookLink}}" class="navbar-social-media-icon"><i class="fab fa-facebook-f"></i></a></span>
        <span class="mx-2"><a href="https://twitter.com/Bioinfocore2" class="navbar-social-media-icon"><i class="fab fa-twitter"></i></a></span>
        <span class="mx-2"><a href="https://www.linkedin.com/company/bioinfocore" class="navbar-social-media-icon"><i class="fab fa-linkedin-in"></i></a></span>
      </section>
    </div>
  </article>

  <!-- Main bar start -->
  <article class="container-fluid navbar-side-padding" style="background: #fff!important;">
    <div class="row">

      <!-- LOGO -->
      <section class="col-auto nav-site-logo d-none d-sm-block">
        <a href="/" title="USU BioinfoCore">
          <img src="biocore-images/pictures3/slide10.png" alt="Utah State" style="max-height:60px;">
        </a>
      </section>

      <section class="col-12 nav-site-logo d-block d-sm-none text-center">
        <a href="/" title="USU BioinfoCore">
          <img src="biocore-images/pictures3/slide10.png" alt="Utah State" style="max-height:60px;">
        </a>
      </section>


      <section class="col col-xl-auto my-auto nav-contact-col px-4 d-none d-lg-block">
        <div class="nav-content-wrapper">
          <div class="nav-contact-title">Email</div>
          <div class="nav-contact-content"><a href="mailto:rkaundal@usu.edu">bioinfocore.usu.edu@mail.com</a></div>
        </div>
      </section>

      <section class="col col-xl-auto my-auto nav-contact-col px-4 d-none d-lg-block">
        <div class="nav-content-wrapper">
          <div class="nav-contact-title">Telephone</div>
          <div class="nav-contact-content">(435) 797-2753</div>
        </div>
      </section>

      <section class="col col-xl-auto my-auto nav-contact-col px-4 d-none d-xl-block">
        <div class="nav-content-wrapper">
          <div class="nav-contact-title d-none d-xl-block">Logan, UT 84322-4700</div>
          <div class="nav-contact-content">4700 Old Main Hill </div>
        </div>
      </section>

      <!-- QUOTE BUTTON -->
      <section class="col my-auto text-right d-none d-sm-block">
        <a href="/contact" class="btn kbl-btn-1">Contact Us</a>
      </section>

      <section class="col my-auto text-center d-block d-sm-none">
        <a href="/contact" class="btn kbl-btn-1 mb-4">Contact Us</a>
      </section>

    </div>
  </article>

  <!-- Menu bar start -->
  <div id="sticked-bar" class="menu-bar">
    <div class="container-fluid navbar-side-padding">
      <div class="row">
        <section class="col-lg-12 menu-bar-content">
          <!-- Menu start --><button data-pushbar-target="left" class="d-lg-none"><i class="fa fa-bars"></i></button>
          <nav id="site-menu" class="site-menu">
            <ul>
              <li><a href="/" class="menu-header">Home</a></li>

              <li><a href="services/" class="menu-header">Services</a>
                <ul>
                  {% from "./nav/nav.services.njk" import services %}
                  {% for service in services %}
                    <li><a href="services/{{service.url}}">{{ service.navName }}</a></li>
                  {% endfor %}
                </ul>
              </li>

              <li><a href="news" class="menu-header">News</a></li>

              <li><a href="#" class="menu-header">Resources</a>
                <ul>
                  <li><a href="resources/hardware">Hardware</a></li>
                  <li><a href="resources/software">Software</a></li>
                  <li><a href="resources/manuals">Manuals</a></li>
                </ul>
              </li>

              <li><a href="faq" class="menu-header">FAQ</a></li>

              <li><a href="pricing" class="menu-header">Pricing</a></li>
            </ul>
          </nav><!-- Menu end -->
          <!-- Search start -->
          <form class="search-form"><input type="search" placeholder="Search here..."><button type="submit"><span class="wicon-iconmonstr-search-thin"></span></button></form><!-- Search end -->
        </section>
      </div>
    </div>
  </article><!-- Menu bar end -->
</header><!-- Header end -->
