@import '../../scss/colors';
@import '../../scss/globals';

.site-footer {
  background: #f6fbfe;

  .contact-icon {
    color: var(--palette-2);
  }
}

.footer-header {
  font-weight: $font-weight-heavy;
}

.footer-social-icon {
  transition: 0.3s;
}
