@import '../../scss/kbl/kbl-card';
@import '../../scss/mixins/anchor';
@import '../../scss/mixins/header';
@import '../../scss/colors';
@import '../../scss/globals';

.quote-button {
  font-family: 'Open Sans', sans-serif!important;
  font-weight: $font-weight-heavy!important;
  color: white!important;
  background: #00b1f5!important;
  border-radius: 0!important;
  font-size: 85%!important;
  transition: 0.3s!important;
  padding: 0.8rem 1.9rem!important;
}

.quote-button:hover {
  background: #0391c7!important;
}

.navbar-social-media-icon {
  color: $primary-text;
  transition: 0.3s;
  font-size: 100%;
}

.navbar-social-media-icon:hover {
  color: $link-color;
}

.navbar-quick-link {
  text-decoration: underline;
  font-size: 95%;
  transition: 0.3s;
  color: $primary-text;
}

.navbar-quick-link:hover {
  color: $link-color;
  text-decoration: none;
}

.nav-site-logo {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.navbar-side-padding {
  $padding: 6%;
  padding-left: $padding!important;
  padding-right: $padding!important;
}

.nav-contact-col {
  border-right: solid 1px #d5f0ff;
}

.nav-contact-title {
  font-weight: $font-weight-heavy;
  color: $link-color;
  font-size: 87%;
}

.nav-contact-content {
  font-weight: $font-weight-light;
  color: $primary-text;
  font-size: 90%;
}

// Menu Bar
.menu-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: $font-weight-heavy;
}

.site-menu li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: $font-weight-light;
}

// Media Queries
@media only screen and (min-width: 1600px) {
  .nav-site-logo {
    margin-right: 6%;
  }

  .nav-contact-content {
    font-size: 110%
  }
}

@media only screen and (min-width: 1490px) {
  .nav-content-wrapper {
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }

  .nav-contact-content {
    font-size: 110%
  }
}

@media only screen and (min-width: 1390px) and (max-width: 1489px) {
  .nav-content-wrapper {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  .nav-contact-content {
    font-size: 110%
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1389px) {
  .nav-content-wrapper {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }

  .nav-contact-content {
    font-size: 110%
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  .nav-content-wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .nav-contact-content {
    font-size: 84%
  }
}

@media only screen and (max-width: 390px) {
  .navbar-quick-link {
    font-size: 84%;
  }
}
