{% extends "templates/manual.template.njk" %}

{% block content %}
  <h2 class="kbl-header mb-5">Getting Started</h2>

  <h4 class="kbl-header light">SSH</h4>
  <p>
    To get started on the HPC, you'll need to make sure you have an account. If you don't, send an email to rkaundal@usu.edu. 
    If you have an account, log in with <code>ssh username@biocluster.usu.edu</code> <br><br>
    Quick note: you can avoid typing that entire thing out every time by creating an alias.
  </p>

  <h4 class="kbl-header light">Using the Cluster</h4>
  <p>
    We have many nodes available to use on the cluster. 
  </p>
{% endblock %}