{% extends "templates/main.template.njk" %}

{% block content %}
	<article class="manual-section">
		<section class="row">
			<div class="col-12">
				<span class="manual-page-title">Manuals</span>
			</div>
		</section>

		<section class="row manual-container px-4 py-3">
			<div class="col-6">
				<div class="manual">
					<a href="/resources/manuals/getting-started">Getting Started</a>
				</div>

				<div class="manual">
					<a href="/resources/manuals/linux-basics">Linux Basics</a>
				</div>
			</div>
		</section>
		
	</article>
{% endblock %}
