<!DOCTYPE html>
<html lang="en">
	{% include "universal/_header.njk" %}
	<body>
		{% include "universal/_preload.njk" %}
		<div id="page" class="page">
			<div id="content-wrapper" class="content-wrapper">
				<div class="content-wrapper-inner">
					{% include "universal/_navbar.njk" %}

					{% setAsync('pdfs', getPDFs, []) %}
					{% for pdf in pdfs %}
					  <div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<h4>
									<a href="{{ pdf.link }}" target="_blank" rel="noopener noreferrer">
										{{ pdf.name }}
									</a>
								</h4>
							</div>
						</div>
					{% else %}
					  <div>No Manuals</div>
					{% endfor %}

				</div><!-- Footer start -->
				{% include "universal/_footer.njk" %}
			</div>
		{% include "universal/_footer-scripts.njk" %}
	</body>
</html>
