<!DOCTYPE html>
<html lang="en">
	{% include "universal/_header.njk" %}
	<body>
		{% include "universal/_preload.njk" %}
		<div id="page" class="page">
			<div id="content-wrapper" class="content-wrapper">
				<div class="content-wrapper-inner" style="background: #efefef;">
					{% include "universal/_navbar.njk" %}
					<div class="row manual-container">
						<div class="col-xs-12">
							<span class="manual-page-title">Manuals</span>
						</div>

						{% setAsync('pdfs', getPDFs, []) %}
						{% for pdf in pdfs %}
							<div class="col-sm-6">
								<div class="col-xs-12 hide-overflow">
									<a href="{{ pdf.link }}" title="{{ pdf.name }}" target="_blank" rel="noopener noreferrer" class="pdf-title">
										{{ pdf.name }}
									</a>
								</div>
							</div>
						{% else %}
						  <div>No Manuals</div>
						{% endfor %}
					</div>

				</div><!-- Footer start -->
				{% include "universal/_footer.njk" %}
			</div>
		{% include "universal/_footer-scripts.njk" %}
		</div>
	</body>
</html>
