{% extends "templates/manual.template.njk" %}

{% block content %}
  <h2 class="kbl-header mb-5">Searching in Linux</h2>

  <h4 class="kbl-header light">Searching Through Output</h4>
  <p>
    The <code>grep</code> is a very useful tool in Linux. It allows you to search large files or command output for specific data. A good example would be to find 
    all the dot files in your home folder. Try to run <code>ls -a ~ | grep .</code> This will list the contents of your home folder, but ionstead of printing the output 
    to the screen, we use the pipe operator (|) to pass the output to <code>grep</code>, and it will then find all the contents with a period in the name. You can also 
    use <code>grep -v</code> to exclude output. Try running <code>ls -a ~ | grep -v bash</code> to get all your dot files, excluding your <code>.bashrc</code> 
  </p>

  <h4 class="kbl-header light">Other Options</h4>
  <p>
    <code>grep</code> has some other options that are useful as well. Take note of the following flags:
  </p>

  <ul>
    <li>- <code>-i</code> - Ignore case</li>
    <li>- <code>-l</code> - Show file names</li>
    <li>- <code>-w</code> - Match the entire word passed in</li>
    <li>- <code>-n</code> - Show line number of found line in file</li>
  </ul>

  <p>
    That wraps up the basics of Linux. There's still a lot to learn, but these fundamentals will get you through 90% of what you will do as a bioinformatics researcher.
    A quick note before you go: It would be wise to pick a terminal editor of your choice and learn it well. It could be nano, vim, micro, ed, etc. Just know one 
    for whenever you want to write to a file in your terminal. 
  </p>
  
{% endblock %}