{% extends "templates/manual.template.njk" %}

{% block content %}
  <h2 class="kbl-header mb-5">SSH on Windows</h2>

  <h4 class="kbl-header light">MobaXTerm</h4>
  <p>
    You can download MobaXTerm <a href="https://mobaxterm.mobatek.net" target="_blank" rel="noreferrer">here</a>. MobaXTerm comes with support for 
    X built in. You can also use PuTTy as well, but you'll need to download xming and change your settings in PuTTy to allow X11-forwarding. Make 
    sure you use SSH sessions in MobaXTerm. 
  </p>
{% endblock %}