{% set img1 = {"img": "biocore-images/banner5.jpg", txt: ["Providing", "Bioinformatics services", "A step towards innovation."]} %}
{% set img2 = {"img": "biocore-images/banner4.jpg", txt: ["we focus on", "Raw Data Analysis", "We generate information from sequencing data."]} %}
{% set img3 = {"img": "biocore-images/banner6.jpg", txt: ["we help collaborators", "Mine -Omics Data", "We are happy to work with new research groups."]} %}

{% set homeCarouselImgs = [img1, img2, img3] %}
