{% set img1 = {"img": "http://bioinfocore.usu.edu/raikou/image/biocore/homedna1.jpg", txt: ["Providing", "Bioinformatics services", "A step towards innovation."]} %}
{% set img2 = {"img": "biocore-images/banner4.jpg", txt: ["we focus on", "Raw Data Analysis", "We generate information from sequencing data."]} %}
{% set img3 = {"img": "http://bioinfocore.usu.edu/raikou/image/biocore/homedna2.jpg", txt: ["we help collaborators", "Mine -Omics Data", "We are happy to work with new research groups."]} %}

{% set homeCarouselImgs = [img1, img2, img3] %}
