<!DOCTYPE html>
<html lang="en">
	{% include "universal/_header.njk" %}
	<body>
    {% include "universal/_preload.njk" %}
		<div id="page" class="page">
			<div id="content-wrapper" class="content-wrapper">
				<div class="content-wrapper-inner">
					{% include "universal/_navbar.njk" %}
					<!-- Homepage slider start -->
					<div class="homepage-slider">
						<div class="homepage-slider-nav"><a id="homepage-slider-left" href="#"><span class="wicon-iconmonstr-angel-left-circle-thin"></span></a></div>
						<div id="homepage-slider" class="owl-theme owl-carousel">
							<!-- Homepage slider item start -->
							<div class="homepage-slider-item"><img src="biocore-images/banner5.jpg" alt="" class="homepage-slider-item-image">
								<div class="container">
									<div class="row">
										<div class="col-lg-12">
											<div class="homepage-slider-item-content">
												<div class="text-1">Providing</div>
												<div class="text-2">Bioinformatics services</div>
												<p class="text-3">A step towards innovation.</p>
												<p class="homepage-slider-item-link"><a href="#">Learn more <i class="fa fa-long-arrow-right"></i></a></p>
											</div>
										</div>
									</div>
								</div>
							</div><!-- Homepage slider item end -->
							<!-- Homepage slider item start -->
							<div class="homepage-slider-item"><img src="biocore-images/banner4.jpg" alt="" class="homepage-slider-item-image">
								<div class="container">
									<div class="row">
										<div class="col-lg-12">
											<div class="homepage-slider-item-content">
												<div class="text-1">we focus on </div>
												<div class="text-2">Raw Data Analysis</div>
												<p class="text-3">We generate information from sequencing data.</p>
												<p class="homepage-slider-item-link"><a href="#">Learn more <i class="fa fa-long-arrow-right"></i></a></p>
											</div>
										</div>
									</div>
								</div>
							</div><!-- Homepage slider item end -->
							<!-- Homepage slider item start -->
							<div class="homepage-slider-item"><img src="biocore-images/banner6.jpg" alt="" class="homepage-slider-item-image">
								<div class="container">
									<div class="row">
										<div class="col-lg-12">
											<div class="homepage-slider-item-content">
												<div class="text-1">we help collaborators</div>
												<div class="text-2">Mine <i>Omics</i> Data</div>
												<p class="text-3">We are happy to work with new research groups.</p>
												<p class="homepage-slider-item-link"><a href="#">Learn more <i class="fa fa-long-arrow-right"></i></a></p>
											</div>
										</div>
									</div>
								</div>
							</div><!-- Homepage slider item end -->
						</div>
						<div class="homepage-slider-nav right"><a id="homepage-slider-right" href="#"><span class="wicon-iconmonstr-angel-right-circle-thin"></span></a></div>
					</div><!-- Homepage slider end -->
					<!-- Intro start -->
					<div class="content-section">
						<div class="container">
							<div class="row">
								<div class="col-md-6">
									<p class="text-decor-1">Welcome to USU bioinformatics core facility</p>
									<p class="text-decor-2">Ideas and breakthroughs fueled by computational prediction and next generation sequencing.</p>
								</div>
								<div class="col-md-6">
									<p>Our unit has been contributing to different research projects by providing, (i) Support and expertise in programming
										and advanced data analysis, focusing primarily on high-throughput genomics technologies including
										microarrays, genotyping and next-generation sequencing (RNA-seq, ChIP-seq, SNP-seq, etc.), (ii) Virtual
										server environments, secure and public web portals, and a large suite of open source applications, (iii)
										Instruction of hands-on tutorials and workshops on a wide variety of informatics topics, (iv) Custom data
										analysis and consultation services, and (v) Establishment of research collaborations with experimental
										scientists from different departments.</p>
									<p><a href="#quote" class="btn btn-1"><i class="fa fa-file"></i> get a quotation</a><a href="#" class="btn btn-2">get in touch</a></p>
								</div>
							</div>
						</div>
					</div><!-- Intro end -->
					<!-- Benefits start -->
					<div class="content-section palette-4-bg">
						<div class="container">
							<div class="row">
								<div class="col-md-4 icon-box v1">
									<p><span class="wicon-iconmonstr-globe-thin"></span></p>
									<div>
										<h3>who we are</h3>
										<p>Bioinfocore is a non profit facility located within Utah State University. </p>
										<p><a href="#" class="color-link">Read more...</a></p>
									</div>
								</div>
								<div class="col-md-4 icon-box v1">
									<p><span class="wicon-iconmonstr-light-bulb-thin"></span></p>
									<div>
										<h3>what we do</h3>
										<p>We provide multiple pipelines to analyze raw sequencing data. </p>
										<p><a href="#" class="color-link">Read more...</a></p>
									</div>
								</div>
								<div class="col-md-4 icon-box v1">
									<p><span class="wicon-iconmonstr-database-thin"></span></p>
									<div>
										<h3>how we do it</h3>
										<p>Learn how we analyize your <i>Omic</i> data. </p>
										<p><a href="#" class="color-link">Read more...</a></p>
									</div>
								</div>
							</div>
						</div>
					</div><!-- Benefits end -->
					<!-- Services start -->
					<div class="content-section">
						<div class="container">
							<div class="row">
								<div class="col-lg-12">
									<div class="content-section-header center">
										<h2 class="title">services we provide</h2>
										<p class="description">We can perform a variety of analysis pipelines to mine your next generation sequencing data.</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div id="index-1-services" class="owl-theme owl-carousel">
										<div class="icon-box v2" style="height:600px;">
											<div class="hover"><img src="biocore-images/rna-seq.png" alt=""><a href="https://en.wikipedia.org/wiki/RNA-Seq"><span class="wicon-iconmonstr-zoom-in-thin"></span></a></div><span class="wicon-iconmonstr-bar-chart-thin"></span>
											<p class="title">RNA-seq</p>
											<p>Whole transcriptome shotgun sequencing (WTSS), uses next-generation sequencing (NGS) to reveal the presence and quantity of RNA in a biological sample at a given moment. RNA-Seq is used to analyze a changing cellular transcriptome.</p>
										</div>
										<div class="icon-box v2" style="height:600px;">
											<div class="hover"><img src="biocore-images/chip-seq.jpg" alt=""><a href="https://en.wikipedia.org/wiki/ChIP-sequencing"><span class="wicon-iconmonstr-zoom-in-thin"></span></a></div><span class="wicon-iconmonstr-gear-thin"></span>
											<p class="title">ChIP-seq</p>
											<p>In order to analyze protein interactions with DNA, ChIP-seq combines chromatin immunoprecipitation (ChIP) with massively parallel DNA sequencing to identify the binding sites of DNA-associated proteins.</p>
										</div>
										<div class="icon-box v2" style="height:600px;">
											<div class="hover"><img src="biocore-images/methyl-seq.png" alt=""><a href="https://en.wikipedia.org/wiki/Bisulfite_sequencing"><span class="wicon-iconmonstr-zoom-in-thin"></span></a></div><span class="wicon-iconmonstr-folder-full-thin"></span>
											<p class="title">Methyl-seq</p>
											<p>Bisulfite sequencing is the use of bisulfite treatment of DNA before routine sequencing to determine the pattern of methylation. DNA methylation was the first discovered epigenetic mark, and remains the most studied.</p>
										</div>
										<div class="icon-box v2" style="height:600px;">
											<div class="hover"><img src="biocore-images/SNP.png" alt=""><a href="https://en.wikipedia.org/wiki/SNP_genotyping"><span class="wicon-iconmonstr-zoom-in-thin"></span></a></div><span class="wicon-iconmonstr-briefcase-thin"></span>
											<p class="title">SNP genotyping</p>
											<p>SNP genotyping is the measurement of genetic variations of single nucleotide polymorphisms (SNPs) between members of a species. It is a form of genotyping, which is the measurement of more general genetic variation.</p>
										</div>
										<div class="icon-box v2" style="height:600px;">
											<div class="hover"><img src="biocore-images/miRNA.png" alt=""><a href="https://en.wikipedia.org/wiki/MicroRNA_sequencing"><span class="wicon-iconmonstr-zoom-in-thin"></span></a></div><span class="wicon-iconmonstr-info-thin"></span>
											<p class="title">miRNA-seq</p>
											<p>MiRNA-seq is the use of next-generation sequencing or massively parallel high-throughput DNA sequencing to sequence microRNAs. miRNA-seq differs from other forms of RNA-seq in that input material is enriched for small RNAs.</p>
										</div>
										<div class="icon-box v2" style="height:600px;">
											<div class="hover"><img src="biocore-images/seq.jpg" alt=""><a href="https://en.wikipedia.org/wiki/Sequence_assembly"><span class="wicon-iconmonstr-zoom-in-thin"></span></a></div><span class="wicon-iconmonstr-computer-thin"></span>
											<p class="title">Sequence assembly</p>
											<p>Referring to aligning and merging fragments from a longer DNA sequence in order to reconstruct the original sequence. This is needed as DNA sequencing technology cannot read whole genomes in one go.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div id="index-1-services-nav" class="owl-nav center"></div>
								</div>
							</div>
						</div>
					</div><!-- Services end -->
					<!-- CTA start -->
					<div class="content-section image-bg image-bg-10 cta v1">
						<div class="container">
							<div class="row">
								<div class="col-lg-12">
									<p class="text-1">we help our collaborators</p>
									<p class="text-2">mine <i>-omics</i> data</p>
									<p>Nonprofit university core lab.</p>
									<p><a href="#quote" class="btn btn-1"><i class="fa fa-file"></i> get a quotation</a></p>
								</div>
							</div>
						</div>
					</div><!-- CTA end -->
					<!-- Recent cases start -->
					<div class="content-section decorated-bg">
						<div class="container">
							<div class="row index-1-recent-cases-content">
								<div class="col-md-3 col-lg-4">
									<div class="content-section-header left">
										<h2 class="title">Testimonials</h2>
										<p class="description">We offer a wide range of analysis solutions for next generation sequencing data. Here are a few words from some of our clients.</p>
									</div>
									<div class="clearfix"></div>
									<div id="index-1-recent-cases-nav" class="owl-nav left"></div>
								</div>
								<div class="col-md-9 col-lg-8">
									<div class="index-1-recent-cases">
										<div id="index-1-recent-cases" class="owl-theme owl-carousel">
											<!-- This section is the testimonials, currently 3 cards -->
											<div class="recent-cases-item v1">
												<figure>
													<div class="hover"><a href="images/2250x1500.png" class="lightbox-images"><span class="wicon-iconmonstr-zoom-in-thin"></span></a></div><img src="images/2250x1500.png" alt="">
												</figure>
												<div class="details">
													<div>
														<p class="title"><a href="#">Sumira</a></p>
														<p class="text-decor-1">baton rouge, la</p>
														<p style="color:black;">Morbi enim neque, condimentum quis interdum ac, consectetur quis nibh. </p>
													</div>
													<p><a href="#" class="color-link">Learn more...</a></p>
												</div>
											</div>
											<div class="recent-cases-item v1">
												<figure>
													<div class="hover"><a href="images/2250x1500.png" class="lightbox-images"><span class="wicon-iconmonstr-zoom-in-thin"></span></a></div><img src="images/2250x1500.png" alt="">
												</figure>
												<div class="details">
													<div>
														<p class="title"><a href="#">Clay Isom</a></p>
														<p class="text-decor-1">Rehoboth, MA 02769 </p>
														<p style="color:black;">Suspendisse ut metus tellus. Phasellus viverra vitae nunc non consequat. </p>
													</div>
													<p><a href="#" class="color-link">Learn more...</a></p>
												</div>
											</div>
											<div class="recent-cases-item v1">
												<figure>
													<div class="hover"><a href="images/2250x1500.png" class="lightbox-images"><span class="wicon-iconmonstr-zoom-in-thin"></span></a></div><img src="images/2250x1500.png" alt="">
												</figure>
												<div class="details">
													<div>
														<p class="title"><a href="#">Meyer's Lab</a></p>
														<p class="text-decor-1">Norris City, IL 62869</p>
														<p style="color:black;">Pellentesque vitae nisl eros. Ut convallis ipsum et diam sagittis suscipit. </p>
													</div>
													<p><a href="#" class="color-link">Learn more...</a></p>
												</div>
											</div>
											<!-- End testimonials -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- Recent cases end -->
					<!-- Partners start -->
					<div class="content-section palette-4-bg" style="background-color: white;">
						<div class="container">
							<div class="row">
								<div class="col-lg-12">
									<div class="partners-wrapper">
										<div class="partners-nav left owl-nav"><button id="partners-prev" type="button" class="owl-prev"><span class="wicon-iconmonstr-angel-left-circle-thin"></span></button></div>
										<div id="partners" class="partners-content owl-carousel owl-theme"><img src="biocore-images/pictures3/slide1.png" alt=""><img src="biocore-images/pictures3/slide2.png" alt=""><img src="biocore-images/pictures3/slide3.png" alt=""><img src="biocore-images/pictures3/slide4.png" alt=""><img src="biocore-images/pictures3/slide5.png" alt=""><img src="biocore-images/pictures3/slide6.png" alt=""><img src="biocore-images/pictures3/slide7.png" alt=""><img src="biocore-images/pictures3/slide8.png" alt=""><img src="biocore-images/pictures3/slide9.png" alt=""></div>
										<div class="partners-nav right owl-nav"><button id="partners-next" type="button" class="owl-next"><span class="wicon-iconmonstr-angel-right-circle-thin"></span></button></div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- Partners end -->
					<!-- Quick faq & contact form start -->
					<div class="content-section palette-4-bg">
						<div class="container">
							<div class="row">
								<div class="col-md-6 col-lg-7">
									<div class="content-section-header left">
										<h2 class="title">quick faq</h2>
										<p class="description">Here is some imformation to get you started. More information can be found <a href="page-faq.html">here</a>.</p>
									</div>
									<div class="clearfix"></div>
									<div data-rt-accordion data-rt-accordion-toggle="on" data-rt-accordion-active="1" class="rt-accordion">
										<div data-rt-accordion-item class="rt-accordion-item">
											<header>
												<p class="title">What kind of services we provide</p>
											</header>
											<div class="content">
												<p>Etiam vel leo lacus. Fusce vestibulum viverra justo, vel dictum lorem venenatis at. Sed eleifend, quam sed commodo varius, mauris magna tristique justo, et volutpat leo urna eget justo. Mauris iaculis dolor quis porta finibus. </p>
												<p>Donec id molestie nisl. Suspendisse nisi leo, elementum eu suscipit non, mollis id sapien. Nunc at nibh urna. </p>
											</div>
										</div>
										<div data-rt-accordion-item class="rt-accordion-item">
											<header>
												<p class="title">How do we check the quality and trim/filter low quality reads?</p>
											</header>
											<div class="content">
												<p>One can run FastQC and FASTX tool kit</p>
											</div>
										</div>

										<div data-rt-accordion-item class="rt-accordion-item">
											<header>
												<p class="title">What Length of Reads are Required for RNA-seq?</p>
											</header>
											<div class="content">
												<p>50bp is sufficient for simple RNA-Seq analysis</p>
												<p></p>
											</div>
										</div>
										<div data-rt-accordion-item class="rt-accordion-item">
											<header>
												<p class="title">How Many Replicates are Needed for RNA-seq?</p>
											</header>
											<div class="content">
												<p>We understand that collecting replicate data is expensive, but at least 3 replicates are needed for an accurate analysis</p>
												<p></p>
											</div>
										</div>
										<div data-rt-accordion-item class="rt-accordion-item">
											<header>
												<p class="title">Resources for RNA-Seq analysis:</p>
											</header>
											<div class="content">
												<ul style="list-style-type:disc;">
													<li>SEQanswers (<a href="http://seqanswers.com/">http://seqanswers.com/</a>)</li>
													<li>BioStars (<a href="https://www.biostars.org/">https://www.biostars.org/</a>)</li>
													<li>Bioinformatics, Oxford Journals (<a href="http://www.oxfordjournals.org/our_journals/bioinformatics/nextgenerationsequencing.html">http://www.oxfordjournals.org/our_journals/bioinformatics/nextgenerationsequencing.html</a>)</li>
													<li>RNA-Seq Blog (<a href="http://www.rna-seqblog.com/">http://www.rna-seqblog.com/</a>)</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<a name="quote"></a>
								<div class="col-md-6 col-lg-5 subsection-fix-sm subsection-fix-xs">
									<div class="content-block palette-2-bg">

										<h3 class="text-center">request a quotation</h3>
										<form id="contact-form">
											<div class="form-group contacts-form-result"><strong></strong></div>
											<div class="form-group"><input type="text" placeholder="Your name..." name="comment-name" class="form-control"></div>
											<div class="form-group"><input type="email" placeholder="Your e-mail..." name="comment-email" class="form-control"></div>
											<div class="form-group"><input type="tel" placeholder="Your phone..." name="comment-phone" class="form-control"></div>
											<div class="form-group"><textarea rows="10" placeholder="Your message..." name="comment-message" class="form-control"></textarea></div>
											<div class="form-group text-center"><button type="submit" class="btn btn-1">Send Your Request</button></div>
										</form>

									</div>

								</div>
							</div>
						</div>
					</div><!-- Quick faq & contact form end -->
					<!-- CTA start -->
					<div class="content-section image-bg image-bg-11 cta v1">
						<div class="container">
							<div class="row">
								<div class="col-lg-12">
									<p class="text-1">we're knowledgeable about</p>
									<p class="text-2">advancing <i>-Omics</i> Big Data science</p>
									<p>A leading provider of Bioinformatics data analysis and consulting.</p>
									<p><a href="#quote" class="btn btn-1"><i class="fa fa-file"></i> get a quotation</a></p>
								</div>
							</div>
						</div>
					</div><!-- CTA end -->
				</div><!-- Footer start -->
				{% include "universal/_footer.njk" %}
			</div>
		{% include "universal/_footer-scripts.njk" %}

	</body>
</html>
