<div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Get a Quotation</h3>
      </div>
      <div class="modal-body">
        <div class="row my-2">
          <div class="col">
            <input class="form-control" id="modal-formName" placeholder="Name" />
          </div>
        </div>

        <div class="row my-2">
          <div class="col">
            <input class="form-control" id="modal-formEmail" placeholder="Email" />
          </div>
        </div>

        <div class="row my-2">
          <div class="col">
            <input class="form-control" id="modal-formPhone" placeholder="Phone" />
          </div>

          <div class="col">
            <input class="form-control" id="modal-formSamples" placeholder="# of Samples" />
          </div>
        </div>

        <div class="row my-2">
          <div class="col">
            <textarea class="form-control" id="modal-formServices" placeholder="Services requested"></textarea>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col text-center">
            <button type="button" class="btn kbl-btn-1" id="modal-send" data-dismiss="modal">Send</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <script src="js/kbl/contact-modal.js"></script>
</div>
