<div class="widget widget-pages">
  <h4 class="widget-title heavy">Other pages</h4>
  <div class="widget-content">
    <ul>
      <li><a class="palette-2" href="/">Home</a></li>
      <li><a class="palette-2" href="services/">Our Services</a></li>
      <li><a class="palette-2" href="#">News</a></li>
      <li><a class="palette-2" href="#">Resources</a></li>
      <li><a class="palette-2" href="faq">Frequently Asked Questions</a></li>
      <li><a class="palette-2" href="contact">Contact Information</a></li>
    </ul>
  </div>
</div>
