<div class="widget widget-pages">
  <h4 class="widget-title">Other pages</h4>
  <div class="widget-content">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="services/">Our Services</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="faq">Frequently Asked Questions</a></li>
      <li><a href="contact">Contact Information</a></li>
    </ul>
  </div>
</div>
