{% set faqProkassembly = [
  {
    question: "What is prokaryotic assembly?",
    content: "Prokaryotes are organisms made up of only one prokaryotic cell. Plants, mammals, fungi, and protists all have eukaryotic cells. They have a diameter of 10-100 m and their DNA is housed in a membrane-bound nucleus.  The assembly for prokaryotes only differs from eukaryotes by the different software tools that are used to perform the analysis."
  },
  {
    question: "What are software available for prokaryotic assembly?",
    content: "SOAPdenovo2, Spades, PGAP."
  },
  {
    question: "What's the difference between genome assembly and annotation?",
    content: "De novo assembly of short-read fragments is used in genomic analysis to reconstruct full-length base sequences without relying on a reference genome sequence. The annotation step then identifies gene sites within the base sequences and determines the structures and functions of these genes."
  },
  {
    question: "What is the process of gene annotation?",
    content: "A simple approach of gene annotation involves using homology-based search tools, such as BLAST, to look for homologous genes in certain databases, and then using the information to annotate genes and genomes."
  }
] %}