{% set snpSeq = [
  {
    question: "What are SNPs?",
    content: "Single nucleotide polymorphisms (SNPs) are the most common type of genetic variation found in humans. Each SNP represents a variation in the DNA known as a nucleotide. For example, a SNP may replace the nucleotide cytosine (C) with the nucleotide thymine (T) in the DNA."
  },
  {
    question: "Why is SNP analysis important?",
    content: "SNPs are very important in the study of human health. SNPs analysis can be used to: <ul> 
<li>Predict an individual’s response to certain drugs</li> 
<li>Susceptibility to environmental factors such as toxins</li> 
<li>Risk of developing particular diseases</li>
<li>Track the inheritance of disease genes within families</li> </ul>"
  },
  {
    question: "What is Manhattan plot used for?",
    content: "A Manhattan plot, which plots statistical significance as –log10(p-value) in the y-axis against chromosomes in the x-axis, is a good way to display millions of genetic variants in one figure. It is simple to identify regions of the genome that exceed a certain significance threshold. Furthermore, it makes it simple to identify regions that can be replicated."
  },
  {
    question: "What is Q_Q plot used for?",
    content: "The q-q graph is used to answer the questions below:
Is there a common distribution of two data sets?
Is there a common location and scale for two sets of data?
Is there a similar distributional form in two data sets?
Is there the same tail behavior in two data sets?"
  }
] %}