<div class="widget image-bg image-bg-M2">
  <h4 class="widget-title">Hiring Researchers</h4>
  <div class="widget-content">
    <p>From experienced researchers to interested graduate students, BioinfoCore may have a place for you</p>
    <p><a href="contact" class="btn btn-1">join our team</a></p>
  </div>
</div>
