<section class="content-section">
  <div class="container-fluid px-0 px-md-5">
    <div class="row px-5">
      <div class="col-md-6">
        <p class="text-decor-1">WELCOME TO USU BIOINFORMATICS CORE FACILITY</p>
        <p class="text-decor-2 d-none d-sm-block">Ideas and breakthroughs fueled by computational prediction and next generation sequencing.</p>
      </div>
      <div class="col-md-6">
        <p class="intro-text">Our group has been contributing to different research projects by providing support and expertise in programming
          and advanced data analysis, focusing primarily on high-throughput genomics technologies. These include
          microarrays, genotyping, and next-generation sequencing (RNA-seq, ChIP-seq, SNP-seq, etc.). We also provide virtual
          server environments, secure public web portals, a large suite of open source applications, and
          hands-on tutorials and workshops on a wide variety of informatics topics, as well as custom data
          analysis and consultation services. We commit to the establishment of research collaborations with
          scientists from different departments.</p>
        <p>
          <a href="#quote" class="btn kbl-btn-1" data-toggle="modal" data-target="#quoteModal"><i class="fa fa-file"></i> get a quotation</a>
          <a href="/contact" class="btn kbl-btn-2">Get In Touch</a>
        </p>
      </div>
    </div>
  </div>
</section>