{% extends "templates/main.template.njk" %}

{% block content %}
  <article class="container-fluid my-5">

    <section class="row justify-content-center">

      <div class="col-12 col-lg-7 my-auto">
        <section class="row org-switch">
          <div class="col text-center">
            <span class="switch selected" id="usu">USU-affiliated</span>
          </div>
          <div class="col text-center">
            <span class="switch" id="academic">Academic</span>
          </div>
          <div class="col text-center">
            <span class="switch" id="commercial">Commercial</span>
          </div>
        </section>
      </div>
    </section>

    <section class="row justify-content-center my-4">
      <div class="col-4 col-lg-3 text-center">
        <button class="btn kbl-switch s2 current pricing" id="standard">Standard</button>
      </div>

      <div class="col-4 col-lg-3 text-center">
        <button class="btn kbl-switch s2 pricing" id="other">Other Services</button>
      </div>
    </section>

    <div id="standard-content" class="pricing-section">
      <section class="row justify-content-center d-none d-xxl-flex">
        {% from "components/price-item-new.njk" import priceItem %}
        {% from "./price-data.njk" import rowOne, rowTwo %}

        {% for service in rowOne %}
          <div class="col col-lg-4 col-xl-3 col-xxl mt-4 mb-3">
            {{ priceItem(service) }}
          </div>
        {% endfor %}
      </section>

      <section class="row justify-content-center d-none d-xxl-flex">

        {% for service in rowTwo %}
          <div class="col col-lg-4 col-xl-3 col-xxl mt-4 mb-3">
            {{ priceItem(service) }}
          </div>
        {% endfor %}
      </section>

      <section class="row justify-content-center d-flex d-xxl-none">
        {% for service in rowOne %}
          <div class="col-11 col-sm-10 col-md-6 col-lg-4 col-xl-3 col-xxl mt-4 mb-3">
            {{ priceItem(service) }}
          </div>
        {% endfor %}

        {% for service in rowTwo %}
          <div class="col-11 col-sm-10 col-md-6 col-lg-4 col-xl-3 col-xxl mt-4 mb-3">
            {{ priceItem(service) }}
          </div>
        {% endfor %}
      </section>

      <section class="row my-5">
        <div class="col text-center">
          <h4>Your Price: $<span id="price">0</span></h4>
        </div>
      </section>

      <section class="row mt-5 py-5 justify-content-center">
        <div class="col-11 col-md-6">
          <h2 class="text-center">Co-authorship</h2>
          <p>
            We request co-authorship (and will assist with manuscript preparation) if we have developed novel tools, algorithms, or pipelines, 
            participated in experiment design planning, or have contributed substantially to a biological question addressed in a manuscript 
            . We ask that, at minimum, you acknowledge us in a publication to which we have contributed routine 
            analysis, data management or conversion, or data submission services.
          </p>
        </div>
      </section>
    </div>

    <div id="other-content" class="pricing-section d-none">
      <div class="row justify-content-center">
        <div class="col-5">
          <section class="custom-pricing py-3 px-4 text-center">
            <h4>
              If you have custom data analysis needs, please fill out the form below. 
              <i class="far fa-question-circle custom-question" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-html="Custom needs includes <ul><li>VMs</li></ul>"></i>
            </h4>

            <p>
              Other services include VMs, custom software, server hosting, bioinfo training, programming for biologists, HPC training, etc.
            </p>

            <div class="row mt-5">
              <div class="col-12">
                <input class="form-control" id="formEmail" placeholder="Email" type="email"/>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-12">
                <input class="form-control" id="formName" placeholder="Name" type="text"/>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-6">
                <input class="form-control" id="formOrg" placeholder="Organization" type="text"/>
              </div>
              <div class="col-6">
                <input class="form-control" id="formPhone" placeholder="Phone" type="tel"/>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-12">
                <textarea class="form-control" id="formMessage" placeholder="Describe your project" textarea rows="10"/></textarea>
              </div>
            </div>

            <div class="row justify-content-center mt-4">
              <div class="col-4">
                <button class="btn kbl-btn-1" id="sendPricing" type="submit">Send</button>
              </div>
            </div>

          </section>
        </div>
      </div>
    </div>
  </article>

  <script src="js/kbl/pricing.js"></script>
{% endblock %}