<!DOCTYPE html>
{% set bs4 = true %}
<html lang="en">
	{% from "universal/_header-macro.njk" import header %}
	{{ header(bs4=bs4, scss=false) }}
	<body>
		{% include "universal/_preload.njk" %}
		{% from "universal/_navbar-switch.njk" import navbar %}
		{{ navbar(bs4=bs4) }}

    <article class="container-fluid my-5">
      <section class="row justify-content-center">
        <div class="col-6 text-center">
          <h4>My Organization Is</h4>
        </div>
      </section>

      <section class="row justify-content-center mt-3 mb-5">
        <div class="col-2 text-center">
          <button class="btn kbl-switch s1 usu">USU-affiliated</button>
        </div>

        <div class="col-2 text-center">
          <button class="btn kbl-switch s1 academic">Academic</button>
        </div>

        <div class="col-2 text-center">
          <button class="btn kbl-switch s1 commercial">Commercial</button>
        </div>
      </section>

      <section class="row justify-content-center">
        <div class="col-6 text-center">
          <h2>Our Pricing</h2>
        </div>
      </section>

      <section class="row justify-content-center mt-3 mb-5">
        <div class="col-2 text-center">
          <button class="btn kbl-switch s2 current pricing">Sequencing</button>
        </div>

        <div class="col-2 text-center">
          <button class="btn kbl-switch s2 pricing">Custom</button>
        </div>
      </section>

      <div id="sequencing" class="pricing-section">
        <section class="row justify-content-center mt-4 mb-5">
          <div class="col-10 col-md-4 col-xl-3 my-2">
            <div class="kbl-pricing-item text-center pt-3 mx-auto" id="rnaseq">
              <h4 class="name">RNA-Seq</h4>
              <p class="subtitle">
                Up to 10 samples
              </p>

              <ul class="ps-0 ms-0">
                <li>Quality check FastQ reads</li>
                <li>Trimming</li>
                <li>DEG analysis</li>
                <li>GO analysis</li>
              </ul>

              <h3 class="price">$400</h4>
            </div>
          </div>

          <div class="col-10 col-md-4 col-xl-3 my-2">
            <div class="kbl-pricing-item text-center pt-3 mx-auto" id="mirna">
              <h4 class="name">miRNA-Seq</h4>
              <p class="subtitle">
                Up to 10 samples
              </p>

              <ul class="ps-0 ms-0">
                <li>Quality check</li>
                <li>MiRDeep 2</li>
                <li>Differential analysis</li>
                <li>Target gene indentification</li>
              </ul>

              <h3 class="price">$500</h4>
            </div>
          </div>

          <div class="col-10 col-md-4 col-xl-3 my-2">
            <div class="kbl-pricing-item text-center pt-3 mx-auto" id="snpseq">
              <h4 class="name">SNP-Seq</h4>
              <p class="subtitle">
                Up to 10 samples
              </p>

              <ul class="ps-0 ms-0">
                <li>Quality check raw reads</li>
                <li>Filtering and read mapping</li>
                <li>Variant calling</li>
                <li>Annotate detected variants</li>
              </ul>

              <h3 class="price">$600</h4>
            </div>
          </div>
        </section>

        <section class="row justify-content-center my-2">
          <div class="col-10 col-md-4 col-xl-3">
            <div class="kbl-pricing-item text-center pt-3 mx-auto" id="chip">
              <h4 class="name">ChIP-Seq</h4>
              <p class="subtitle">
                Up to 10 samples
              </p>

              <ul class="ps-0 ms-0">
                <li>Quality check raw reads</li>
                <li>Filtering and read mapping</li>
                <li>Peak calling</li>
                <li>Annotate peaks</li>
              </ul>

              <h3 class="price">$600</h4>
            </div>
          </div>

          <div class="col-10 col-md-4 col-xl-3 my-2">
            <div class="kbl-pricing-item text-center pt-3 mx-auto" id="methyl">
              <h4 class="name">Methyl-Seq</h4>
              <p class="subtitle">
                Up to 10 samples
              </p>

              <ul class="ps-0 ms-0">
                <li>Quality control</li>
                <li>Adapter trimming</li>
                <li>Contamination removal</li>
                <li>Align reads with Bismarck</li>
              </ul>

              <h3 class="price">$700</h4>
            </div>
          </div>

          <div class="col-10 col-md-4 col-xl-3 my-2">
            <div class="kbl-pricing-item text-center pt-3 mx-auto" id="genome">
              <h4 class="name">Genome Assembly</h4>
              <p class="subtitle">
                Rates differ per project
              </p>

              <ul class="ps-0 ms-0">
                <li>Any project accepted</li>
                <li>Eukaryotes</li>
                <li>Prokaryotes</li>
                <li>Additional annotation</li>
              </ul>

              <h3 class="price">$50/hr</h4>
            </div>
          </div>
        </section>

        <section class="row mt-5">
          <div class="col text-center">
            <h4>Your Price: <span id="price">0</span>$</h4>
          </div>
        </section>
      </div>

      <div id="custom" class="pricing-section d-none">
        <div class="row justify-content-center">
          <div class="col-5">
            <section class="custom-pricing py-3 px-4 text-center">
              <h4>We'll get back to you as soon as possible!</h4>

              <div class="row mt-5">
                <div class="col-12">
                  <input class="form-control" placeholder="Email"/>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">
                  <input class="form-control" placeholder="Name"/>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-6">
                  <input class="form-control" placeholder="Organization"/>
                </div>
                <div class="col-6">
                  <input class="form-control" placeholder="Phone"/>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">
                  <textarea class="form-control" placeholder="Describe your project"/></textarea>
                </div>
              </div>

              <div class="row justify-content-center mt-4">
                <div class="col-4">
                  <button class="btn kbl-btn-1">Send</button>
                </div>
              </div>

            </section>
          </div>
        </div>
      </div>
    </article>

		{% include "universal/_footer-bs4.njk" %}
		{% from "universal/_scripts-macro.njk" import scripts %}
		{{ scripts(bs4=bs4) }}
    <script src="js/kbl/pricing.js"></script>

	</body>
</html>
