@import '../globals';
@import '../colors';

.kbl-card {
  transition: all 0.9s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  border-radius: $border-radius-1;
  background: #fff;
  padding: 7px 11px;
}

.kbl-card.select {
  cursor: pointer;
}

.kbl-card.hover:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

// Mixins
@mixin kbl-card-title($size, $color) {
  font-weight: $font-weight-heavy;
  font-size: $size;
  text-decoration: none;
  color: $color;
  transition: 0.3s;
}

@mixin kbl-card-title-h($color) {
  text-decoration: none;
  color: $color;
  cursor: pointer;
}

@mixin kbl-card-title-v($color) {
  text-decoration: none;
  color: $color;
}
