@import '../globals';
@import '../colors';

.kbl-pricing-item {
  border: solid 2px #eaeaea;
  cursor: pointer;
  transition: 0.3s;
  max-width: 300px;

  &.selected {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.2);
    border-color: transparent;
    border-radius: 4px;

    .name,
    .price {
      color: var(--palette-2);
    }
  }

  .price-alt-container {
    max-width: 300px;
  }

  .price-alt {
    color: var(--text-main);
    font-size: 80%;
    font-weight: var(--fw-medium);
    transition: 0.3s;

    border-radius: 999px;

    &:hover {
      color: white;
      background: var(--palette-1);
    }

    &.selected {
      background: var(--palette-1);
    }
  }

  .name {
    font-size: 160%;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    text-transform: none;
    letter-spacing: -1px;
    color: var(--color-text-soft);
    transition: 0.3s;
  }

  .subtitle {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #969696;
  }

  .price {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: none;
    color: var(--color-text-soft);
    transition: 0.3s;
  }

  ul {
    text-align: left;
    margin-block-start: 0.5em;
    padding-inline-start: 20px;

    li {
      text-indent: -0.3rem;

      &:before {
        content: "- ";
        
      }
    }
  }

  &:hover {
    border-color: var(--palette-1);
  }
}
