@import '../globals';
@import '../colors';

.kbl-pricing-item {
  border: solid 2px #eaeaea;
  cursor: pointer;
  transition: 0.3s;
  max-width: 300px;

  .fa-minus,
  .fa-plus {
    color: black!important;
  }

  .price-field {
    background: #e5e5e5;
    color: var(--text-main);
    border-radius: 999px!important;
    border: none!important;
    text-align: center;
    font-weight: 800;

    &:focus {
      background: white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)!important;
    }

    &:hover:not(:focus) {
      background: #eaeaea;
    }
  }

  ul li {
    line-height: 1.9;
    font-size: 100%;
  }

  &.selected {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.2);
    border-color: transparent;
    border-radius: 4px;

    .name,
    .price {
      color: var(--palette-2);
    }
  }

  .price-alt-container {
    max-width: 300px;
  }

  .price-alt {
    color: #515151;
    font-size: 80%;
    font-weight: var(--fw-medium);
    transition: 0.3s;
    background: var(--palette-1-bg);

    border-radius: 999px;

    &:hover {
      color: white;
      background: var(--palette-1);
    }

    &.selected {
      background: var(--palette-1);
    }
  }

  .name {
    font-size: 160%;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    text-transform: none;
    letter-spacing: -1px;
    color: var(--color-text-soft);
    transition: 0.3s;
  }

  .subtitle a {
    text-decoration: none!important;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: var(--palette-1);
    transition: 0.3s;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: var(--palette-1);
    }
  }

  .price {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: none;
    color: var(--color-text-soft);
    transition: 0.3s;
  }

  ul {
    text-align: left;
    margin-block-start: 0.5em;
    padding-inline-start: 20px;

    li {
      text-indent: -0.3rem;

      &:before {
        content: "- ";
        
      }
    }
  }

  &:hover {
    border-color: var(--palette-1);
  }
}
