@import '../globals';
@import '../colors';

.kbl-pricing-item {
  cursor: pointer;
  transition: 0.3s;
  max-width: 300px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  &:hover {
    border-color: var(--palette-1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12), 0 2px 8px rgba(0, 0, 0, 0.23);
  }

  .bullets {
    color: var(--text-soft);
    transition: 0.3s;
  }

  .minus,
  .plus {
    transition: 0.3s;
    color: var(--text-soft);

    &:hover {
      color: var(--palette-1)!important;
    }
  }

  input[type="text"] {
    font-size: 100px;
  }

  .price-field {
    color: var(--text-main);
    border-radius: 999px!important;
    border: none!important;
    text-align: center;
    font-weight: 800;
    font-size: 190%!important;
  }

  ::placeholder {
    color: #b7b7b7!important;
  }

  ul li {
    line-height: 1.9;
    font-size: 100%;
  }

  &.selected {
    border-color: transparent;

    .bullets {
      color: var(--text-main);
    }

    .name,
    .price {
      color: var(--palette-2);
    }

    .minus,
    .plus {
      color: var(--text-main);
    }
  }

  .price-alt-container {
    max-width: 300px;
  }

  .price-alt {
    color: #515151;
    font-size: 80%;
    font-weight: var(--fw-medium);
    transition: 0.3s;
    background: var(--palette-1-bg);

    border-radius: 999px;

    &:hover {
      color: white;
      background: var(--palette-1);
    }

    &.selected {
      background: var(--palette-1);
    }
  }

  .name {
    font-size: 160%;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    text-transform: none;
    letter-spacing: -1px;
    color: var(--color-text-soft);
    transition: 0.3s;
  }

  .subtitle a {
    text-decoration: none!important;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: var(--palette-1);
    transition: 0.3s;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: var(--palette-1);
    }
  }

  .price {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: none;
    color: var(--color-text-soft);
    transition: 0.3s;
  }

  ul {
    text-align: left;
    margin-block-start: 0.5em;
    padding-inline-start: 20px;

    li {
      text-indent: -0.3rem;

      &:before {
        content: "- ";
        
      }
    }
  }
}
