.dropdown-menu.kbl-dropdown {
  border-radius: 14px;
  overflow: hidden;
  padding: 0;

  .no-res {
    pointer-events: none;
    color: #9e9e9e;
  }

  .dropdown-item.result {
    padding: 10px 20px;
  }
}