{% extends "templates/main.template.njk" %}

{% block content %}
	<article class="kbl-content-wrapper">
		<!-- Page titlebar start -->
		<section class="content-section decorated-bg page-titlebar">
			<div class="container-fluid px-5">
				<div class="row px-5">
					<div class="col-lg-12">
						<h1 class="title">frequently asked questions</h1>
						<ol class="breadcrumb">
							<li class="active">FAQ</li>
						</ol>
					</div>
				</div>
			</div>
		</section><!-- Page titlebar end -->

		{% include "components/home/welcome.njk" %}
		
		<!-- Page content start -->
		<div class="content-section">
			<div class="container-fluid px-5">
				<div class="d-none d-lg-block">
					<div class="row mb-5 px-5 d-flex justify-content-center">
						<div class="col-lg-3">
							<a href="/faq#rnaseq">
							<button type="button" class="btn kbl-btn-1" style="width:95%; height:95%;">
							RNA-seq
							</button>
							</a>
						</div>
						<div class="col-lg-3">
							<a href="/faq#go">
							<button type="button" class="btn kbl-btn-1" style="width:95%; height:95%;">
							 Gene Ontology
							</button>
							</a>
						</div>
						<div class="col-lg-3">
							<a href="/faq#methyl">
							<button type="button" class="btn kbl-btn-1" style="width:95%; height:95%;">
							 Methyl-Seq
							</button>
							</a>
						</div>
						<div class="col-lg-3">
							<a href="/faq#snp">
							<button type="button" class="btn kbl-btn-1" style="width:95%; height:95%;">
							 SNPs
							</button>
							</a>
						</div>
						<div class="col-lg-3">
							<a href="/faq#scrna">
							<button type="button" class="btn kbl-btn-1" style="width:95%; height:95%;">
							scRNA-Seq
							</button>
							</a>
						</div>
						<div class="col-lg-3">
							<a href="/faq#metagenomics">
							<button type="button" class="btn kbl-btn-1" style="width:95%; height:95%;">
							Metagenomics
							</button>
							</a>
						</div>
						<div class="col-lg-3">
							<a href="/faq#eukassembly">
							<button type="button" class="btn kbl-btn-1" style="width:95%; height:95%;">
							 Eukaryotes Assembly
							</button>
							</a>
						</div>
						<div class="col-lg-3">
						<a href="/faq#prokassembly"
							<button type="button" class="btn kbl-btn-1" style="width:95%; height:95%;">
							Prokaryotes Assembly
							</button>
							</a>
						</div>
					</div>
				</div>
				<div class="row px-5">
					<section class="col-md-8">
						<h2 class="pb-4">Frequently Asked Questions</h2>
						
						{% from "./faqdata/rnaseq.njk" import faqRnaSeq %}
						{% from "./faqdata/go.njk" import faqGo %}
						{% from "./faqdata/metseq.njk" import faqMetSeq %}
						{% from "./faqdata/snp.njk" import faqSnp %}
						{% from "./faqdata/scrna.njk" import faqScrna %}
						{% from "./faqdata/metagenomics.njk" import faqMetagenomics %}
						{% from "./faqdata/eukassembly.njk" import faqEukassembly %}
						{% from "./faqdata/prokassembly.njk" import faqProkassembly %}

						{% from "components/faq/faqSection.njk" import faqSection %}
						{{ faqSection(faqRnaSeq,"RNA-seq","rnaseq") }}

						{{ faqSection(faqGo,"Gene Ontology Enrichment Analysis","go") }}

						{{ faqSection(faqMetSeq,"Methyl-Seq","methyl") }}

						{{ faqSection(faqSnp,"SNPs","snp") }}

						{{ faqSection(faqScrna,"Single Cell RNA-Seq (scRNA)","scrna") }}

						{{ faqSection(faqMetagenomics,"Metagenomics","metagenomics") }}
						
						{{ faqSection(faqEukassembly,"Eukaryotes Assembly","eukassembly") }}

						{{ faqSection(faqProkassembly,"Prokaryotes Assembly","prokassembly") }}

					</section>
					<section class="col-md-4">
						{% from "components/svc-sidebar/svc-sidebar.njk" import sidebar %}
						{{ sidebar() }}
					</section>
				</div>
			</div>
		</div>
	</article>
{% endblock %}
