{% extends "templates/main.template.njk" %}

{% block content %}
	<article class="kbl-content-wrapper">
		<!-- Page titlebar start -->
		<section class="content-section decorated-bg page-titlebar">
			<div class="container-fluid px-5">
				<div class="row px-5">
					<div class="col-lg-12">
						<h1 class="title">frequently asked questions</h1>
						<ol class="breadcrumb">
							<li class="active">FAQ</li>
						</ol>
					</div>
				</div>
			</div>
		</section><!-- Page titlebar end -->
		<!-- Intro start -->
		<section class="content-section">
			<div class="container-fluid px-5">
				<div class="row px-5">
					<div class="col-md-6">
						<p class="text-decor-1">Welcome to USU bioinformatics core facility</p>
						<p class="text-decor-2">Ideas and breakthroughs fueled by computational prediction and next generation sequencing.</p>
					</div>
					<div class="col-md-6">
						<p class="block">Our unit has been contributing to different research projects by providing, (i) Support and expertise in programming
							and advanced data analysis, focusing primarily on high-throughput genomics technologies including
							microarrays, genotyping and next-generation sequencing (RNA-seq, ChIP-seq, SNP-seq, etc.), (ii) Virtual
							server environments, secure and public web portals, and a large suite of open source applications, (iii)
							Instruction of hands-on tutorials and workshops on a wide variety of informatics topics, (iv) Custom data
							analysis and consultation services, and (v) Establishment of research collaborations with experimental
							scientists from different departments.
						</p>
						<p>
							<a href="#quote" class="btn kbl-btn-1"><i class="fa fa-file"></i> get a quotation</a>
							<a href="/contact" class="btn kbl-btn-2">Get In Touch</a>
						</p>
					</div>
				</div>
			</div>
		</section><!-- Intro end -->
		<!-- Page content start -->
		<div class="content-section">
			<div class="container-fluid px-5">
				<div class="row px-5">
					<section class="col-md-8">
						<h2>Frequently Asked Questions</h2>
						
						{% from "./faqdata/rnaseq.njk" import faqRnaSeq %}
						{% from "./faqdata/go.njk" import faqGo %}
						{% from "./faqdata/metseq.njk" import faqMetSeq %}

						<h3 class="faq-header">RNA-seq</h3>
						<div class="clearfix"></div>
						<section data-rt-accordion data-rt-accordion-toggle="on" class="rt-accordion">

							{% for faq in faqRnaSeq %}
								<div data-rt-accordion-item class="rt-accordion-item">
									<header>
										<p class="title">{{ faq.question }}</p>
									</header>
									<div class="content">
										{{ faq.content | safe }}
									</div>
								</div>
							{% endfor %}
						</section>

						<h3 class="faq-header">Gene Ontology Enrichment Analysis</h3>
						<div class="clearfix"></div>
						<section data-rt-accordion data-rt-accordion-toggle="on" class="rt-accordion">

							{% for faq in faqGo %}
								<div data-rt-accordion-item class="rt-accordion-item">
									<header>
										<p class="title">{{ faq.question }}</p>
									</header>
									<div class="content">
										{{ faq.content | safe }}
									</div>
								</div>
							{% endfor %}
						</section>

						<h3 class="faq-header">Methyl-Seq</h3>
						<div class="clearfix"></div>
						<section data-rt-accordion data-rt-accordion-toggle="on" class="rt-accordion">

							{% for faq in faqMetSeq %}
								<div data-rt-accordion-item class="rt-accordion-item">
									<header>
										<p class="title">{{ faq.question }}</p>
									</header>
									<div class="content">
										{{ faq.content | safe }}
									</div>
								</div>
							{% endfor %}
						</section>

					</section>
					<section class="col-md-4">
						{% from "components/svc-sidebar/svc-sidebar.njk" import sidebar %}
						{{ sidebar() }}
					</section>
				</div>
			</div>
		</div>
	</article>
{% endblock %}
