{% extends "templates/service.template.njk" %}
{%  from "components/svc-titlebar/svc-titlebar.njk" import titlebar %}

{% block title %}
  {{ titlebar('ChIP-Seq Analysis', 'ChIP-Seq') }}
{% endblock %}

{% block content %}
  <article class="post single">
    <figure class="post-thumbnail"><img src="img/services/chipseq.png" alt=""></figure>
    <header class="article-header">

      <h2 class="title">How ChIP-seq data analysis works</h2>
    </header>
    <p>Chromatin immunoprecipitation coupled with sequencing (ChIP-seq) is a genomics and epigenomics method to study
      DNA-protein interactions.ChIP-Seq involves the isolation and sequencing of genomic DNA bound by transcription factors,
      histones, chaperones and other nuclear proteins. Explain more.....
    </p>
    {% from "components/svc-prev-next/svc-prev-next.njk" import switch %}
    {{ switch("services/varseq", "services/metagenomics") }}
  </article>
{% endblock %}
