{% extends "templates/service.template.njk" %}
{%  from "components/svc-titlebar/svc-titlebar.njk" import titlebar %}

{% block title %}
  {{ titlebar('ChIP-Seq Analysis', 'ChIP-Seq') }}
{% endblock %}

{% block content %}
  <article class="post single">
    <figure class="post-thumbnail"><img src="img/services/chipseq.png" alt=""></figure>
    <header class="article-header">

      <h2 class="title">How ChIP-seq data analysis works</h2>
    </header>
    <p>
      Chromatin immunoprecipitation coupled with sequencing (ChIP-seq) is a genomics and
      epigenomics method used to study DNA-protein interactions. ChIP-Seq analysis can provide
      information about the chromatin state and transcription factor binding in
      a determined gene or loci.
    </p>

    <section class="service-steps">
      
    </section>
    {% from "components/svc-prev-next/svc-prev-next.njk" import switch %}
    {{ switch("services/varseq", "services/metagenomics") }}
  </article>
{% endblock %}
