{% extends "templates/service.template.njk" %}
{%  from "components/svc-titlebar/svc-titlebar.njk" import titlebar %}

{% block title %}
  {{ titlebar('ChIP-Seq Analysis', 'ChIP-Seq') }}
{% endblock %}

{% block content %}
  <article class="post single">
    <figure class="post-thumbnail"><img src="img/services/chipseq.png" alt=""></figure>
    <header class="article-header">

      <h2 class="title">How ChIP-seq data analysis works</h2>
    </header>
    <p>
      Chromatin immunoprecipitation coupled with sequencing (ChIP-seq) is a genomics and
      epigenomics method used to study DNA-protein interactions. ChIP-Seq analysis can provide
      information about the chromatin state and transcription factor binding in
      a determined gene or loci.
    </p>

    <section class="service-steps">
      <h5>Step 1 - Preprocess Reads</h5>
      <h5>Step 2 - Quality Control Analysis</h5>
      <h5>Step 3 - Mapping</h5>
      <h5>Step 4 - Aligned Reads Quality Check</h5>
      <h5>Step 5 - Peak Calling</h5>
      <ul>
        <li>Fragment estimation</li>
        <li>Peak identification</li>
        <li>Table with peak information such as enrichment score, -log<sub>10</sub>p-value,
            -log<sub>10</sub>q-value and the position to peak start.
        </li>
      </ul>
      <h5>Step 6 - Annotation</h5>
      <h5>Step 7 - Visualization</h5>
      <ul>
        <li>Heatmaps</li>
        <li>Enrichment plot</li>
        <li>upSet and coverage plot</li>
      </ul>
    </section>
    {% from "components/svc-prev-next/svc-prev-next.njk" import switch %}
    {{ switch("services/varseq", "services/metagenomics") }}
  </article>
{% endblock %}
