@import '../../../scss/colors';
@import '../../../scss/globals';

// Shameless hack...
.bs4 {
  // @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
}

// Variable names are hard when you're wrestling with the template's CSS.
// It's gotta go, but for now, here we are.
.software-header {
  font-weight: $font-weight-heavy;
}

// Again, wrestling with the template's CSS.
// If you plan on changing the code, templates are a terrible idea, kids.
// Plus they use CSS which is kinda dumb in 2020...use SCSS.
.software-intro-text {
  color: $primary-text;
  margin-bottom: 30px;
}

.module-title {
  color: $link-color;
  text-decoration: none;
  font-weight: 800;
  border-bottom: solid 2px rgb(255, 255, 255);
  border-bottom: solid 2px rgba(255, 255, 255, 0);
  transition: 0.2s;
}

.module-title:hover {
  text-decoration: none;
  border-color: $link-color;
  color: $link-color;
}

.avail-mods {
  font-weight: $font-weight-medium;
  color: $kbl-black;
}

.module {
  color: $kbl-black;
  font-weight: $font-weight-light;
}

// I'm using padding as a margin. Sue me.
.card-padding {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: -10px;
  padding-left: -10px;
}

.bottom-margin {
  margin-bottom: 12px;
}
