<!DOCTYPE html>
{% set bs4 = true %}
<html lang="en">
	{% from "universal/_header-macro.njk" import header %}
	{{ header(bs4=bs4, scss=false) }}
	<body>
		{% include "universal/_preload.njk" %}
		{% from "universal/_navbar-switch.njk" import navbar %}
		{{ navbar(bs4=bs4) }}

		{% from "resources/software/_software-list.njk" import allSoftware %}

		<article class="container-fluid kbl-software-wrapper" >
			<section class="row justify-content-center my-4">
				<div class="col-sm-8">
					<h3 class="software-header">Software</h3>
					<p class="software-intro-text">
						The USU HPC uses a module system that allows users to customize their work environment and use only the software they
						need for their projects. This is because we have so many available modules ({{ allSoftware.length }} currently). If you would like to know more about
						working with modules, please see our <a href="resources/manuals">Manuals</a> page. There is a list of available modules below, as well as
						their respective versions. If there is a module that you don’t see but would like added, please contact our
						system administrator.
					</p>
				</div>
			</section>

			<section class="row justify-content-center mb-5 no-gutters">
				<div class="col-sm-8">
					<div class="row justify-content-center no-gutters" id="module-card-container">
						<!-- filled with js/kbl/module-cards.js -->
					</div>
				</div>
			</section>
		</article>
		{% from "universal/_footer-switch.njk" import footer %}
		{{ footer(bs4=bs4) }}
		{% import "universal/_scripts-macro.njk" as scriptsMacro %}
    {{ scriptsMacro.scripts(bs4=bs4, mapsApi=false) }}
		<script src="js/kbl/module-cards.js"></script>
	</body>
</html>
