<!DOCTYPE html>
{% set bs4 = false %}
<html lang="en">
	{% import "universal/_header-macro.njk" as headerMacro %}
	{{ headerMacro.header(bs4=bs4, scss=false) }}
	<body>
		{% include "universal/_preload.njk" %}
		<div id="page" class="page">
			<div id="content-wrapper" class="content-wrapper">
				<div class="content-wrapper-inner">
					{% from "universal/_navbar-switch.njk" import navbar %}
					{{ navbar(bs4=bs4) }}

					<div style="background: #efefef;" class="container-fluid" >
			      <div class="row justify-content-center">
			        <div class="col-sm-8 col-sm-offset-2">
			          <h3 class="software-header">Software</h3>
			          <p class="software-intro-text">
			            The USU HPC has a large amount of software installed, so we use a module system that allows users to customize their
			            work environment and use only the software they need for their projects. If you would like to know more about
			            working with modules, please see “Introducing Modules”. You will find a list of available modules below, as well as
			            their respective version. If there is software that you don’t see but would like added, please contact our
			            system administrator.
			          </p>
			        </div>
			      </div>

			      <div class="row justify-content-center bottom-margin row-no-gutters">
			        <div class="col-sm-8 col-sm-offset-2">
			          <div class="row justify-content-center row-no-gutters">
			            {% include "resources/software/_software-list.njk" %}
			          </div>
			        </div>
			      </div>
			    </div>

				</div>
				{% from "universal/_footer-switch.njk" import footer %}
				{{ footer() }}
			</div>
		{% import "universal/_scripts-macro.njk" as scriptsMacro %}
    {{ scriptsMacro.scripts(bs4=bs4, mapsApi=false) }}
	</body>
</html>
