@import '../../../scss/colors';
@import '../../../scss/globals';

// Variable names are hard when you're wrestling with the template's CSS.
// It's gotta go, but for now, here we are.
.software-header {
  font-weight: $font-weight-heavy;
}

// Again, wrestling with the template's CSS.
// If you plan on changing the code, templates are a terrible idea, kids.
// Plus they use CSS which is kinda dumb in 2020...use SCSS.
.software-intro-text {
  color: $primary-text;
}

.module-title {
  color: $link-color;
  text-decoration: none;
  font-weight: 800;
  border-bottom: solid 2px rgb(255, 255, 255);
  border-bottom: solid 2px rgba(255, 255, 255, 0);
  transition: $time-mid;
}

.module-title:hover {
  text-decoration: none;
  border-color: $link-color;
  color: $link-color;
}

.avail-mods {
  font-weight: $font-weight-medium;
  color: $kbl-black;
}

.module {
  color: $kbl-black;
  font-weight: $font-weight-light;
}

.kbl-software-wrapper {
  background: #e9e9e9;
  text-align: left;
}
