<!DOCTYPE html>
{% set bs4 = true %}
<html lang="en">
	{% from "universal/_header-macro.njk" import header %}
	{{ header(bs4=bs4) }}
	<body>
		{% include "universal/_preload.njk" %}
		{% from "universal/_navbar-switch.njk" import navbar %}
		{{ navbar(bs4=bs4) }}

		<div class="container-fluid px-5 mt-4 mb-5">
			{% block content %}
			{% endblock %}
		</div>

		{% from "universal/_footer-switch.njk" import footer %}
		{{ footer(bs4=bs4) }}
		{% from "universal/_scripts-macro.njk" import scripts %}
		{{ scripts(bs4=bs4) }}

		{% block scripts %}

		{% endblock %}
	</body>
</html>
