<!DOCTYPE html>
<html lang="en">
	{% include "universal/_header.njk" %}
	<body>
		{% include "universal/_preload.njk" %}
		<div id="page" class="page">
			<div id="content-wrapper" class="content-wrapper">
				<div class="content-wrapper-inner">
					{% include "universal/_navbar.njk" %}

					{% block content %}

					{% endblock %}

				</div><!-- Footer start -->
				{% include "universal/_footer.njk" %}
			</div>
		{% include "universal/_footer-scripts.njk" %}
	</body>
</html>
