<figure class="post-thumbnail"><img src="img/services/medips.png" alt=""></figure>
<header class="article-header">

  <h2 class="title">Methylated DNA Immunoprecipitation</h2>
</header>
<p>
  <b>Methylated DNA Immunoprecipitation (MeDIP-Seq)</b> is a large scale (chromosome or genome-wide) purification
  technique used to isolate methylated DNA fragments via an antibody raised against 5-methylcytosine (5mC).
  MeDIP-Seq requires a different type of software analysis than WGBS and RRBS, as the methodology varies significicantly.
</p>
<figure class="preview fl-r"><a href="img/medips-small.png" class="lightbox-images"><img src="img/medips-small.png" alt=""></a>
  <figcaption><strong>Figure #2:</strong> The MeDIPS process</figcaption>
</figure>
<ol>
  <li>Step 1. Reads Alignment</li>
  <li>Step 2. Statistical Analysis</li>
  <li>Step 3. Genomic locations</li>
  <li>Step 4. CpG density</li>
  <li>Step 5. Read count per samples</li>
  <li>Step 6. Normalized read count per sample</li>
  <li>Step 7. Mean value per group</li>
  <li>Step 8. LogFC between groups</li>
  <li>Step 9. P-value and adjusted p-value</li>
  <li>Step 10. Results as tables, mapping bam files, and summary statistics</li>
</ol>
