{% extends "templates/service.template.njk" %}
{%  from "components/svc-titlebar/svc-titlebar.njk" import titlebar %}

{% block title %}
  {{ titlebar('Prokaryotes: De Novo Genome Assembly and Annotation', 'Prokaryotes') }}
{% endblock %}

{% block content %}
  <article class="post single">
    <figure class="post-thumbnail"><img src="img/services/prokassembly.png" alt=""></figure>
    <header class="article-header">

      <h2 class="title">How Prokaryotes Assembly and Annotation Works</h2>
    </header>
    <p>Genome assembly is the process of taking many individual disconnected graphs (pieces of the DNA) that are processed independently
      by an assembler and putting them back together to create the original assembly. Our De Novoassembly pipeline for
      Prokaryotes consists of two parts:
    </p>
    <h3>Pre Assembly Analysis:</h3>
    <ol style="list-style-type: upper-roman;">
      <li>Raw sub-reads overlapping for error correction</li>
      <li>Pre-assembly and error correction</li>
      <li>Overlapping detection of the error corrected reads</li>
      <li>Overlap filtering</li>
      <li>Construct graph from overlaps</li>
      <li>Construct contig from graph</li>
      <li>Construct Scaffolds or chromosome</li>
    </ol>
    <figure class="preview fl-r"><a href="biocore-images/picture4/slide3.jpg" class="lightbox-images"><img src="biocore-images/picture4/slide3.jpg" alt=""></a>
      <figcaption><strong>Figure #2:</strong> We focus on passion and leadership.</figcaption>
    </figure>
    <h3>Post assembly analysis:</h3>
    <ol style="list-style-type: none;">
      <li>Step 1. Assembly QC assessment</li>
      <li>Step 2. Gene Prediction</li>
      <li>Step 3. Protein coding regions identification</li>
      <li>Step 4. Functional annotation</li>
      <li>Step 5. Results as tables, mapping BAM files, and summary statistics</li>
    </ol>
    {% from "components/svc-prev-next/svc-prev-next.njk" import switch %}
    {{ switch("services/16srnaseq", "services/eukassembly") }}
  </article>
{% endblock %}
