@import '../colors';
@import '../globals';

input, textarea {
  border-radius: 0!important;
  box-shadow: none!important;
  outline: none!important;
  font-size: 110%!important;

  transition: $time-mid!important;

  &:hover {
    border-color: $palette-1-dark!important;
  }

  &:focus {
    border-color: $palette-1!important;
  }
}
