{% extends "templates/service.template.njk" %}
{%  from "components/svc-titlebar/svc-titlebar.njk" import titlebar %}

{% block title %}
  {{ titlebar('RNA-Seq Analysis', 'RNA-Seq') }}
{% endblock %}

{% block content %}
<article class="post single">
  <figure class="post-thumbnail">
    <a href="img/services/rnaseqnew.png" target="_blank" rel="noopener noreferrer">
      <img src="img/services/rnaseqnew.png" alt="">
    </a>
  </figure>
  <header class="article-header">

    <h2 class="title">How RNA-Seq Analysis Works</h2>
  </header>
  <p>RNA-Seq (RNA-sequencing) is a technique that can examine the quantity and sequences of RNA in a sample using next generation sequencing (NGS).  It analyzes the transcriptome of gene expression patterns encoded within the RNA.</p>
  <p>The following are the steps we follow in a usual RNA-seq data analysis; both reference-based and <i>de novo</i> assembly-based protocols are mentioned below: </p>
  <h3>A. When a reference genome is available</h3>
  <section class="service-steps">
    <h5>Step 1 - Quality Control/Trimming</h5>
    <ul>
      <li>Adapter removal, trimming, pooling of samples</li>
    </ul>

    <figure class="preview fl-r">
      <a href="{{ RaikouServer }}/image/biocore/matrix.jpeg" class="lightbox-images">
        <img src="{{ RaikouServer }}/image/biocore/matrix.jpeg" alt="">
      </a>
      <figcaption><strong>Figure #1:</strong> Read Quality</figcaption>
    </figure>

    <h5>Step 2 - Read Alignment</h5>
    <ul>
      <li>Reads mapping with TopHat2 (or another aligner at request)</li>
    </ul>

    <h5>Step 3 - Expression Quantification:</h5>
    <ul>
      <li>Generation of counts table of raw reads mapped based on chosen annotation feature (genes, exons, intergenic regions, etc.)</li>
      <li>Conversion of read counts into RPKM values (FPKM for paired-end data)</li>
    </ul>
    <h5>Step 4 - Sample Tree (Correlation Analysis)</h5>
    <h5>Step 5 - Differential Expression (DE) Testing</h5>
    <ul>
      <li>Statistical identification of differentially expressed genes (DEGs) with edgeR or DESeq2</li>
      <li>PCA plots, Venn diagram</li>
      <li>Gene clustering and heatmaps</li>
    </ul>

    <figure class="preview fl-r">
      <a href="{{ RaikouServer }}/image/biocore/goenrich.png" class="lightbox-images">
        <img src="{{ RaikouServer }}/image/biocore/goenrich.png" alt="">
      </a>
      <figcaption><strong>Figure #2:</strong> GO Enrichment</figcaption>
    </figure>

    <h5>Step 6 - Functional Interpretation:</h5>
    <ul>
      <li>Gene Ontology (GO) term enrichment analysis</li>
      <li>KEGG pathway analysis</li>
    </ul>

    <p>Note: alignment files (*.bam) can be provided at request for visualizing read mappings, analysis
      results and annotation data, e.g. on the IGV genome browser
    </p>
  </section>

  <h3>B. When a Reference Genome is Not Available</h3>
  <section class="service-steps">
    <h5>Step 1 - Quality Control/Trimming</h5>
    <ul>
      <li>Adapter removal, trimming, pooling of samples</li>
    </ul>
    <h5>Step 2 - Assemble Reads de novo to Construct Reference Genome</h5>
    <ul>
      <li>Reads mapping with trinity, bowtie, another aligner if requested.</li>
    </ul>
    <h5>Step 3 - Assessing assembly quality</h5>
    <ul>
      <li>Alignment summary metrics</li>
    </ul>
    <h5>Step 4 - Expression Quantification</h5>
    <ul>
      <li>Generation of counts table of raw reads mapped based on chosen annotation feature (genes, exons, etc.)</li>
      <li>Conversion of read counts into RPKM values (FPKM for paired-end data)</li>
    </ul>
    <h5>Step 5 - Sample Tree (Correlation Analysis)</h5>
    <h5>Step 6 - Differential Expression (DE) Testing</h5>
    <ul>
      <li>Statistical identification of differentially expressed genes (DEGs) with edgeR or DESeq2</li>
      <li>PCA plots, Venn diagram</li>
      <li>Gene clustering and heatmaps</li>
    </ul>
    <h5>Step 7 - Functional Interpretation</h5>
    <ul>
      <li>Assign Unigene to assembled transcriptome</li>
      <li>Annotation of Unigene by BLAST</li>
      <li>Gene ontology (GO) term enrichment analysis</li>
      <li>KEGG pathway analysis</li>
    </ul>
  </section>

  {% from "components/svc-prev-next/svc-prev-next.njk" import switch %}
  {{ switch("services/mirna", "services/varseq") }}
</article>
{% endblock %}
