<!DOCTYPE html>
<html lang="en">
	{% include "universal/_header.njk" %}
	<body>
		{% include "universal/_preload.njk" %}
		<div id="page" class="page">
			<div id="content-wrapper" class="content-wrapper">
				<div class="content-wrapper-inner">
					{% include "universal/_navbar.njk" %}

					{%  from "components/svc-titlebar/svc-titlebar.njk" import titlebar %}
					{{ titlebar("RNA-Seq Analysis", "RNA-Seq") }}

					<!-- Page content start -->
					<div class="content-section">
						<div class="container">
							<div class="row">
								<section class="col-md-8">
									<!-- Article start -->
									<article class="post single">
										<figure class="post-thumbnail">
											<a href="img/services/rnaseq.png" target="_blank" rel="noopener noreferrer">
												<img src="img/services/rnaseq.png" alt="">
											</a>
										</figure>
										<header class="article-header">

											<h2 class="title">How RNA-Seq Analysis Works</h2>
										</header>
										<p>RNA-Seq (RNA-sequencing) is a technique that can examine the quantity and sequences of RNA in a sample using next generation sequencing (NGS).  It analyzes the transcriptome of gene expression patterns encoded within the RNA.</p>
										<p>The following are the steps we follow in a usual RNA-seq data analysis; both reference-based and <i>de novo</i> assembly-based protocols are mentioned below: </p>
										<h3>When a reference genome is available</h3>
										<section class="service-steps-container">
											<ul class="level-1">
												<li>Step 1 - Quality Control/Trimming</li>
												<ul class="level-2">
													<li>Adapter removal, trimming, pooling of samples</li>
												</ul>
											</ul>
											<ul class="level-1">
												<li>Step 2 - Read Alignment</li>
												<ul class="level-2">
													<li>Reads mapping with TopHat2 (or another aligner at request)</li>
												</ul>
											</ul>
											<ul class="level-1">
												<li>Step 3 - Expression Quantification:</li>
												<ul class="level-2">
													<li>Generation of counts table of raw reads mapped based on chosen annotation feature (genes, exons, intergenic regions, etc.)</li>
													<li>Conversion of read counts into RPKM values (FPKM for paired-end data)</li>
												</ul>
											</ul>
											<figure class="preview fl-r"><a href="images/2250x1500.png" class="lightbox-images"><img src="images/2250x1500.png" alt=""></a>
												<figcaption><strong>Figure #2:</strong> We focus on passion and leadership.</figcaption>
											</figure>
											<ul class="level-1">
												<li>Step 4 - Sample Tree (Correlation Analysis)</li>
												<li>Step 5 - Differential Expression (DE) Testing</li>
												<ul class="level-2">
													<li>Statistical identification of differentially expressed genes (DEGs) with edgeR or DESeq2</li>
													<li>PCA plots, Venn diagram</li>
													<li>Gene clustering and heatmaps</li>
												</ul>
												<li>Step 6 - Functional Interpretation:</li>
												<ul class="level-2">
													<li>Gene Ontology (GO) term enrichment analysis</li>
													<li>KEGG pathway analysis</li>
												</ul>
												<li>Step 7 - Alignment Files (*.bam)</li>
												<ul class="level-2">
													<li>can be provided at request for visualizing read mappings, analysis results and annotation data, e.g. on the IGV genome browser</li>
												</ul>
											</ul>
										</section>
										<h3>When a reference genome is NOT available, then follow de novo assembly-based protocol:</h3>
										<p>(assemble the reads de novoto make an assembled transcriptome and use that as a reference)</p>
										<p>Step 1</p>
										<p>Step 2</p>

										{% from "components/svc-prev-next/svc-prev-next.njk" import switch %}
										{{ switch("services/mirna", "services/varseq") }}
									</article><!-- Article end -->
								</section>

								<section class="col-md-4">
									{% include "components/svc-sidebar/svc-sidebar.njk" %}
								</section>
							</div>
						</div>
					</div><!-- Page content end -->

				</div><!-- Footer start -->
				{% include "universal/_footer.njk" %}
			</div>
		{% include "universal/_footer-scripts.njk" %}
	</body>
</html>
