<!DOCTYPE html>
<html lang="en">
	{% include "universal/_header.njk" %}
	<body>
		{% include "universal/_preload.njk" %}
		<div id="page" class="page">
			<div id="content-wrapper" class="content-wrapper">
				<div class="content-wrapper-inner">
					{% include "universal/_navbar.njk" %}

          <!-- Page titlebar start -->
					<div class="content-section decorated-bg page-titlebar">
						<div class="container">
							<div class="row">
								<div class="col-lg-12">
									<h1 class="title">Metagenomics: whole genome or shotgun sequencing Data Analysis</h1>
									<ol class="breadcrumb">
										<li><a href="index.html">Home</a></li>
										<li><a href="page-services.html">services</a></li>
										<li class="active">Metagenomics</li>
									</ol>
								</div>
							</div>
						</div>
					</div><!-- Page titlebar end -->
					<!-- Page content start -->
					<div class="content-section" style="padding-bottom: 0px;">
						<div class="container">
							<div class="row">
								<div class="col-md-8">
									<!-- Article start -->
									<article class="post single">
										<figure class="post-thumbnail"><img src="biocore-images/picture5/slide1.jpg" alt=""></figure>
										<header class="article-header">

											<h2 class="title">How whole genome sequencing works</h2>
										</header>
										<p>As  sequencing  costs  drop,  microbiome  research  is moving  from  16S  rRNA  gene  sequencing  to  more comprehensive  functional  representations  via  whole  genome  or  shotgun  metagenomics  sequencing.Shotgun  metagenomic  sequencing  is  a  relatively  new  environmental  sequencing  approach  used  to examine  thousands  of  organisms  in  parallel  and  comprehensively  sample  all  genes,  providing  insight into  community  biodiversity  and  function.  Following  are  the  steps  we  follow  to  analyze  the Metagenomics WGS samples:</p>
										<blockquote>
											<p>" Do the difficult things while they are easy and do the great things while they are small. A jorney of a thousand miles begin with a single step. "</p>
											<footer>Lao Tzu</footer>
										</blockquote>
										<p><u><b>data analysis steps:</b></u></p>
										<p>Step 1:</p>
										<p>Step 2:</p>
										<p>Next</p>
										<figure class="preview fl-r"><a href="biocore-images/picture4/slide1.jpg" class="lightbox-images"><img src="biocore-images/picture4/slide1.jpg" alt=""></a>
											<figcaption><strong>Figure #2:</strong> We focus on passion and leadership.</figcaption>
										</figure>
										<p>More</p>
										<p>More</p>
										<p>more<p>
										<h3>Header</h3>
										<p>conclusion</p>
										<p>stuff</p>
										<p>stuff</p>
										<p>1 more</p>
										{% from "components/svc-prev-next/svc-prev-next.njk" import switch %}
										{{ switch("services/chipseq", "services/16srnaseq") }}
									</article><!-- Article end -->
									</div>

								<div class="col-md-4">
									<div class="sidebar">
										{% include "components/other-services/other-services.njk" %}
										{% include "components/other-pages/other-pages.njk" %}
										{% include "components/svc-req-quote/svc-req-quote.njk" %}
										{% include "components/svc-hiring/svc-hiring.njk" %}
									</div>
								</div>
							</div>
						</div>
					</div><!-- Page content end -->

				</div><!-- Footer start -->
				{% include "universal/_footer.njk" %}
			</div>
		{% include "universal/_footer-scripts.njk" %}
	</body>
</html>
