{% extends "templates/service.template.njk" %}
{%  from "components/svc-titlebar/svc-titlebar.njk" import titlebar %}

{% block title %}
  {{ titlebar('Metagenomics: Whole Genome or Shotgun Sequencing Analysis', 'Metagenomics') }}
{% endblock %}

{% block content %}
  <article class="post single">
    <figure class="post-thumbnail"><img src="img/services/metagenomics.png" alt=""></figure>
    <header class="article-header">
      <h2 class="title">How whole genome sequencing works</h2>
    </header>
    <p>
      As  sequencing  costs  drop,  microbiome  research  is moving  from  16S  rRNA  gene  sequencing  to  more
      comprehensive  functional  representations  via  whole  genome  or  shotgun  metagenomics  sequencing.
      Shotgun  metagenomic  sequencing  is  a  relatively  new  environmental  sequencing  approach  used  to examine
      thousands  of  organisms  in  parallel  and  comprehensively  sample  all  genes,  providing  insight into
      community  biodiversity  and  function.  Following  are  the  steps  we  follow  to  analyze  the Metagenomics WGS samples:
    </p>
    {% from "components/svc-prev-next/svc-prev-next.njk" import switch %}
    {{ switch("services/chipseq", "services/16srnaseq") }}
  </article>
{% endblock %}
