<div class="sidebar">
  {% include "components/other-services/other-services.njk" %}
  {% include "components/svc-req-quote/svc-req-quote.njk" %}
  {% include "components/svc-hiring/svc-hiring.njk" %}
</div>
