<!DOCTYPE html>
{% set bs4 = false %}
<html lang="en">
	{% import "universal/_header-macro.njk" as headerMacro %}
	{{ headerMacro.header(bs4=bs4, scss=false) }}
	<body>
		{% include "universal/_preload.njk" %}
		<div id="page" class="page">
			<div id="content-wrapper" class="content-wrapper">
				<div class="content-wrapper-inner">
					{% from "universal/_navbar-switch.njk" import navbar %}
					{{ navbar(bs4=bs4) }}

					<!-- Page titlebar start -->
					<div class="content-section decorated-bg page-titlebar">
						<div class="container">
							<div class="row">
								<div class="col-lg-12">
									<h1 class="title">16S Ribosomal RNA sequencing data analysis</h1>
									<ol class="breadcrumb">
										<li><a href="index.html">Home</a></li>
										<li><a href="page-services.html">services</a></li>
										<li class="active">RNA-seq</li>
									</ol>
								</div>
							</div>
						</div>
					</div><!-- Page titlebar end -->
					<!-- Page content start -->
					<div class="content-section" style="padding-bottom: 0px;">
						<div class="container">
							<div class="row">
								<div class="col-md-8">
									<!-- Article start -->
									<article class="post single">
										<figure class="post-thumbnail"><img src="images/2250x1500.png" alt=""></figure>
										<header class="article-header">

											<h2 class="title">How 16S Ribosomal RNA sequencing data analysis works</h2>
										</header>
										<p>In  genomics,  sequencing  of  16S  ribosomal  RNA  is  used  to  identify  or  classify  bacteria  species.  16S rRNA sequencing data analysis tools are used for experimental design, prediction-based or homogeny-based taxonomic classification, and data preprocessing.</p>
										<p><b>Metagenomics is <span style="color: #ff0000">not</span> 16S sequencing:</b></p>
										<p>Metagenomics tools enable the population analysis of un-culturable or previously unknown microbes. This is important as only around 1-2% of bacteria can be cultured in the laboratory. Metagenomics is the study of the functional genomes of microbial communities while 16S sequencing offers a phylogenetic survey on the diversity of a single ribosomal gene, 16S rRNA. It is necessary to explicitly state this as ‘metagenomics’ and ‘16S rRNA’ are often incorrectly used interchangeably.</p>
										<blockquote>
											<p>" Do the difficult things while they are easy and do the great things while they are small. A jorney of a thousand miles begin with a single step. "</p>
											<footer>Lao Tzu</footer>
										</blockquote>
										<p><u><b>16S rRNA data analysis workflow:</b></u></p>
										<p>Step 1:</p>
										<p>Step 2:</p>
										<p>Next</p>
										<figure class="preview fl-r"><a href="biocore-images/picture4/slide3.jpg" class="lightbox-images"><img src="biocore-images/picture4/slide3.jpg" alt=""></a>
											<figcaption><strong>Figure #2:</strong> We focus on passion and leadership.</figcaption>
										</figure>
										<p>More</p>
										<p>More</p>
										<p>more<p>
										<h3>Header</h3>
										<p>conclusion</p>
										<p>stuff</p>
										<p>stuff</p>
										<p>1 more</p>
										{% from "components/svc-prev-next/svc-prev-next.njk" import switch %}
										{{ switch("services/metagenomics", "services/prokassembly") }}
									</article><!-- Article end -->
									</div>

								<div class="col-md-4">
									<!-- Sidebar start -->
									<div class="sidebar">
										{% include "components/other-services/other-services.njk" %}
										{% include "components/other-pages/other-pages.njk" %}
										{% include "components/svc-req-quote/svc-req-quote.njk" %}
										{% include "components/svc-hiring/svc-hiring.njk" %}
									</div><!-- Sidebar end -->
								</div>
							</div>
						</div>
					</div><!-- Page content end -->

				</div><!-- Footer start -->
				{% from "universal/_footer-switch.njk" import footer %}
				{{ footer() }}
			</div>
		{% include "universal/_footer-scripts.njk" %}
	</body>
</html>
