{% extends "templates/service.template.njk" %}
{%  from "components/svc-titlebar/svc-titlebar.njk" import titlebar %}

{% block title %}
  {{ titlebar('Genotyping by Sequencing (GBS)', 'GBS') }}
{% endblock %}

{% block content %}
  <article class="post single">
    <figure class="post-thumbnail"><img src="biocore-images/Dec/GBS.png" alt=""></figure>
    <header class="article-header">

      <h2 class="title">How Genotyping-by-sequencing (GBS) Works</h2>
    </header>
    <p>
      GBS is a marker-assisted selection (MAS) technology to accelerate plant breeding. This technology consists of the sequencing of a reduced representation
      of an entire genome. The sequencing is performed on samples from a population of interest, and this population is selected based on its variability for
      a certain set of yield traits or disease responses.
    </p>
    <p>
      A reduced representation of the genome is obtained through digesting DNA samples with some restriction enzymes. Adapters are then ligated and library
      size is selected and sequenced. The focus is on the part of the genome around the restriction enzyme, simplifying analysis complexity without sacrificing genotyping
      capabilities.
    </p>
    <p>
      After  samples  are  sequenced,  they  go  through  a  comprehensive  bioinformatic  pipeline  that  ultimately can associate markers (or mutations)
      from different samples with phenotypic data, leading to the identification of high-resolution molecular markers related with yield traits or disease responses.
    </p>
    <figure class="preview fl-r">
      <a href="img/matrix.png" class="lightbox-images">
        <img src="img/matrix.png" alt="">
      </a>
      <figcaption class="text-center"><strong>Figure #1:</strong> Genetic Distance Matrix</figcaption>
    </figure>

    <section class="service-steps">
      <h5>Demultiplexing & Quality Control</h5>
      <ul>
        <li>Deconvolute sequencing library data into multiple samples</li>
        <li>Insert length determination</li>
        <li>Contamination removal</li>
        <li>Low quality sequence trimming</li>
        <li>Sequence quality report</li>
      </ul>

      <h5>Map reads to the reference</h5>
      <ul>
        <li>Alignment of short-reads</li>
        <li>BAM manipulation</li>
        <li>Quality and coverage mapping report</li>
      </ul>

      <h5>Marker Detection</h5>
      <ul>
        <li>Multi sample variants detection</li>
        <li>Variants filtering</li>
        <li>Genotype imputation</li>
        <li>Functional annotation of genomic variants</li>
        <li>Summary variants report</li>
      </ul>

      <h5>Diversity Analysis</h5>
      <ul>
        <li>Genetic distance matrix calculation</li>
        <li>Population structure analysis</li>
        <li>PCA, K-Means, Hierarchical clustering</li>
        <li>Phylogeny</li>
        <li>Population diversity report</li>
      </ul>

      <h5>Genotype-phenotype Associations (Optional)</h5>
      <ul>
        <li>Variants filtering</li>
        <li>Genome wide association studies</li>
        <li>Filtering of variants associated with phenotype</li>
        <li>Statistical analysis of markers associated with traits</li>
        <li>Final report</li>
      </ul>
    </section>
    <p>GBS is an ultimate marker-assisted selection (MAS) technology to accelerate plant breeding.Some more details.....</p>
    {% from "components/svc-prev-next/svc-prev-next.njk" import switch %}
    {{ switch("services/eukassembly", "services/medips") }}
  </article>
{% endblock %}
