$link-color: #00b1f5;
$link-visited-color: #9d008d;
$primary-text: #02124d;

// Black
$kbl-black: #303030;
$text-main: #303030;

$palette-1: #00b1f5;
$palette-1-dark: #008cc2;

$palette-2-light: #0e246e;
$palette-2: #05164e;

// Section BGs
$section-bg-a: #fff;
$section-bg-b: #f0f0f0;

:root {
  --text-main: #303030;
  --color-text-soft: #a1a1a1;

  --palette-1-bg: #d2f0fb;

  --palette-1-light: #87deff;
  --palette-1: #00b1f5;
  --palette-1-dark: #008cc2;

  --palette-2-light: #0e246e;
  --palette-2: #05164e;

  --palette-3: #f6fbfe;

  --color-link: #00b1f5;
  --color-link-visited: #9d008d;
  --color-text-primary: #02124d;

  --color-bg-b: #f0f0f0;
  --color-bg-c: #e6e6e6;
}
