$border-radius-1: 5px;

$font-weight-light: 400;
$font-weight-medium: 600;
$font-weight-heavy: 800;

$time-slow: 0.35s;
$time-mid: 0.3s;
$time-fast: 0.2s;

:root {
  --border-radius: 6px;
  --btn-radius: 1px;

  --fw-light: 400;
  --fw-medium: 600;
  --fw-heavy: 800;

  --time-slow: 0.35s;
  --time-mid: 0.3s;
  --time-fast: 0.2s;
}
