@import 'globals';
@import 'colors';
@import 'kbl-import';
@import 'default/export';
@import 'comp-import';

@import '../views/pages/index/index';

@import '../views/resources/software/software';
@import '../views/resources/hardware/hardware';
@import '../views/resources/manuals/manuals';

@import '../views/universal/navbar';
@import '../views/universal/footer';

@import '../views/services/services';

@import './old-rules';

@import './mobile-nav';

@import './theme';

.no-select {
  pointer-events: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.sidebar {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 4px rgba(55, 55, 55, 0.28);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.kbl-content-wrapper {
  background: white;
  text-align: left;
}

// Icon Monster Stuff (placeholder)
.mstr-icon {
  font-size: 300%;
  color: $palette-1!important;
}

.fw-light {
  font-weight: var(--fw-light);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-heavy {
  font-weight: var(--fw-heavy);
}

.text-soft {
  color: var(--color-text-soft);
}

h3 + p {
  font-size: 110%!important;
}

// To the top button
.to-the-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10001;
  display: none;

  a {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
    color: #08237e;
    box-shadow: none;
    border: 1px solid $palette-2-light;
    transition: all 0.3s ease;

    &:hover {
      background-color: #08237e;
      color: #fff;
    }
  }
}

.gmap-responsive {
  overflow: hidden;
  padding-bottom: 25%;
  position: relative;
  height: 0;
}

.gmap-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

// module loader
#module-card-container {
  opacity: 0;
  transition: 0.7s;

  &.loaded {
    opacity: 1;
  }
}

.footer-social-icon {
  text-decoration: none!important;
}

// News Stuff
.news-card-background {
  background: var(--color-bg-b);
  border-radius: var(--border-radius-1);
}

::-webkit-input-placeholder {
  font-style: normal!important;
}
:-moz-placeholder {
  font-style: normal;
}
::-moz-placeholder {
  font-style: normal;
}
:-ms-input-placeholder {
  font-style: normal;
}

.custom-pricing {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
  }
  border-radius: var(--border-radius-1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  textarea {
    height: 200px!important;
  }

  .pricing-form {
    border-radius: 999px!important;
    background: #eaeaea;
    border: 1px solid #d3d3d3;
    padding: 7px 18px;

    &:hover:not(:focus) {
      border-color: #afafaf!important;
    }

    &:focus {
      background: #fff;
      border-color: #fff!important;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)!important;
    }
  }
}

.dropdown-toggle:after {
  content: none!important;
}

// Navbar stuff
.sticky-wrapper {
  .searchbar-container {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    transition: 0.3s;
    max-width: 275px;
  
    input {
      height: 100%;
      border: none;
      background: transparent;
    }
  
    .search-icon {
      padding-right: 14px;
      align-self: center;
    }
  }


  &:not(.is-sticky) {
    .searchbar-container {
      background: var(--palette-2);
    
      input {
        color: white;
      }
    
      .search-icon {
        color: white;
      }
    }
  }

  &.is-sticky {
    $new-color: #686868;

    .searchbar-container {
      background: #e2e2e2;
    
      input {
        color: $new-color;
      }
    
      .search-icon {
        color: $new-color;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $palette-1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $palette-2-light;
}
