@import 'globals';
@import 'colors';
@import 'kbl-import';
@import 'default/export';

@import '../views/pages/index/index';

@import '../views/resources/software/software';
@import '../views/resources/hardware/hardware';
@import '../views/resources/manuals/manuals';

@import '../views/universal/navbar';
@import '../views/universal/footer';

@import '../views/services/services';

.no-select {
  pointer-events: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.kbl-content-wrapper {
  background: white;
  text-align: left;
}

// Icon Monster Stuff (placeholder)
.mstr-icon {
  font-size: 300%;
  color: $palette-1!important;
}

h3 + p {
  font-size: 110%!important;
}
