<!DOCTYPE html>
<html lang="en">
	{% include "universal/_header.njk" %}
	<body>
		{% include "universal/_preload.njk" %}
		<div id="page" class="page">
			<div id="content-wrapper" class="content-wrapper">
				<div class="content-wrapper-inner">
					{% include "universal/_navbar.njk" %}

					<!-- Page titlebar start -->
					<div class="content-section decorated-bg page-titlebar">
						<div class="container">
							<div class="row">
								<div class="col-lg-12">
									<h1 class="title">miRNA Analysis</h1>
									<ol class="breadcrumb">
										<li><a href="index.html">Home</a></li>
										<li><a href="page-services.html">services</a></li>
										<li class="active">miRNA</li>
									</ol>
								</div>
							</div>
						</div>
					</div><!-- Page titlebar end -->
					<!-- Page content start -->
					<div class="content-section" style="padding-bottom: 0px;">
						<div class="container">
							<div class="row">
								<div class="col-md-8">
									<!-- Article start -->
									<article class="post single">
										<figure class="post-thumbnail"><img src="images/2250x1500.png" alt=""></figure>
										<header class="article-header">

											<h2 class="title"></h2>
										</header>
										<p><b>MicroRNA sequencing(miRNA-seq)</b>, is the use of next-generation sequencing or massively parallel high-throughput DNA sequencing to sequence microRNAs, also called miRNAs. <b>miRNA-seq</b> differs from other forms of RNA-seqin that in-put material is often enriched for small RNAs.</p>
										<figure class="preview fl-r"><a href="images/2250x1500.png" class="lightbox-images"><img src="images/2250x1500.png" alt=""></a>
											<figcaption><strong>Figure #2:</strong> We focus on passion and leadership.</figcaption>
										</figure>
										<ol>
											<li><b>Step1.</b> Reads Alignment</li>
											<li><b>Step2.</b> Quantify known and novel micro RNA (miRNA) from small RNA sequencing (RNAseq).</li>
											<li><b>Step5.</b> Statistical analysis:estimate variance-mean dependence in miRNA count data and test for differential expression.</li>
											<li><b>Step6.</b> miRNA expression Analysis.</li>
											<li><b>Step3.</b> Normalization of count datasets.</li>
											<li><b>Step4.</b> Samples clustering.</li>
											<li><b>Step7.</b> Target Gene prediction</li>
											<li><b>Step8.</b> Functional Annotation (GO and pathway analysis)</li>
										</ol>
										<blockquote>
											<p>" Do the difficult things while they are easy and do the great things while they are small. A jorney of a thousand miles begin with a single step. "</p>
											<footer>Lao Tzu</footer>
										</blockquote>
										<p><i>****Receive full package:  mapped bam files, FastQC quality insight, count expression table, and differential miRNAs analysis, and targeted genes annotation.</i></p>
										<footer class="article-footer"><a href="10-RRBS-methyl" class="btn btn-4"><i class="fa fa-angle-left"></i> Prev post</a><a href="7-RNA-seq.html" class="btn btn-4">Next post <i class="fa fa-angle-right"></i></a></footer>
									</article><!-- Article end -->
									</div>

								<div class="col-md-4">
									<div class="sidebar">
										{% include "components/other-services/other-services.njk" %}
										{% include "components/other-pages/other-pages.njk" %}
										{% include "components/svc-req-quote/svc-req-quote.njk" %}
										{% include "components/svc-hiring/svc-hiring.njk" %}
									</div>
								</div>
							</div>
						</div>
					</div><!-- Page content end -->

				</div><!-- Footer start -->
				{% include "universal/_footer.njk" %}
			</div>
		{% include "universal/_footer-scripts.njk" %}
	</body>
</html>
