{% set template = {
  imgLink: "",
  name: "",
  content: "",
  learnMore: ""
}
%}

{% set rnaSeq = {
  imgLink: "http://bioinfocore.usu.edu/biocore-images/picture5/slide1.jpg",
  name: "RNA-Seq",
  content: "Whole transcriptome shotgun sequencing (WTSS), uses next-generation sequencing (NGS) to reveal the presence and quantity of RNA in a biological sample at a given moment. RNA-Seq is used to analyze a changing cellular transcriptome.",
  learnMore: "/services/rnaseq"
}
%}

{% set varSeq = {
  imgLink: "http://bioinfocore.usu.edu/biocore-images/picture5/slide3.jpg",
  name: "SNP-Seq",
  content: "SNP genotyping is the measurement of genetic variations of single nucleotide polymorphisms (SNPs) between members of a species. It is a form of genotyping, which is the measurement of more general genetic variation.",
  learnMore: "/services/varseq"
}
%}

<!-- Image by <a href="https://pixabay.com/users/qimono-1962238/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1872666">Arek Socha</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1872666">Pixabay</a> -->
{% set scRNA = {
  imgLink: "http://bioinfocore.usu.edu/raikou/image/biocore/serviceImages/scRNA.jpg",
  name: "scRNA",
  content: "scRNA sequencing (scRNA-seq) is a common and powerful technique for profiling the whole transcriptome of a large number of individual cells.",
  learnMore: "services/scrna"
}
%}

{% set metSeq = {
  imgLink: "http://bioinfocore.usu.edu/biocore-images/picture5/slide2.jpg",
  name: "Methyl-Seq",
  content: "Bisulfite sequencing is the use of bisulfite treatment of DNA before routine sequencing to determine the pattern of methylation. DNA methylation was the first discovered epigenetic mark, and remains the most studied.",
  learnMore: "/services/methylation"
}
%}

{% set mirna = {
  imgLink: "http://bioinfocore.usu.edu/biocore-images/picture5/slide5.jpg",
  name: "miRNA-Seq",
  content: "miRNA-seq is the use of next-generation sequencing or massively parallel high-throughput DNA sequencing to sequence microRNAs. miRNA-seq differs from other forms of RNA-seq in that input material is enriched for small RNAs.",
  learnMore: "/services/mirna"
}
%}

{% set chip = {
  imgLink: "http://bioinfocore.usu.edu/biocore-images/picture5/slide4.jpg",
  name: "ChIP-Seq",
  content: "In order to analyze protein interactions with DNA, ChIP-seq combines chromatin immunoprecipitation (ChIP) with massively parallel DNA sequencing to identify the binding sites of DNA-associated proteins.",
  learnMore: "/services/chipseq"
}
%}

<!-- Image by <a href="https://pixabay.com/users/wikimediaimages-1185597/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=903624">WikimediaImages</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=903624">Pixabay</a> -->
{% set gbs = {
  imgLink: "http://bioinfocore.usu.edu/raikou/image/biocore/serviceImages/gbs.jpg",
  name: "Genotyping by Sequencing (GBS)",
  content: "GBS is a marker-assisted selection (MAS) technology to accelerate plant breeding. This technology consists of the sequencing of a reduced representation of an entire genome.",
  learnMore: "services/gbs"
}
%}

<!-- Image by <a href="https://pixabay.com/users/publicdomainpictures-14/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=163711">PublicDomainPictures</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=163711">Pixabay</a> -->
{% set amplicon = {
  imgLink: "http://bioinfocore.usu.edu/raikou/image/biocore/serviceImages/amplicon.jpg",
  name: "Amplicon Analysis",
  content: "In genomics, 16S/18S/ITS gene sequencing (or simply amplicon analysis) is used to identify or classify bacterial species. 16SrRNA is a DNA sequence encoding in a small subunit of rRNA in prokaryotes. It is mainly used to analyze the diversity of bacteria and archaea.",
  learnMore: "services/amplicon"
}
%}

<!-- Image by <a href="https://pixabay.com/users/thedigitalartist-202249/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=869109">Pete Linforth</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=869109">Pixabay</a> -->
{% set metagenomics = {
  imgLink: "http://bioinfocore.usu.edu/raikou/image/biocore/serviceImages/metagenomics.jpg",
  name: "Metagenomics",
  content: "Shotgun metagenomic sequencing is a relatively new environmental sequencing approach used to examine thousands of organisms in parallel and comprehensively sample all genes, providing insight into community biodiversity and function.",
  learnMore: "services/metagenomics"
}
%}

<!-- Image by <a href="https://pixabay.com/users/publicdomainpictures-14/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=163466">PublicDomainPictures</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=163466">Pixabay</a> -->
{% set eukassembly = {
  imgLink: "http://bioinfocore.usu.edu/raikou/image/biocore/serviceImages/eukaryotes.jpg",
  name: "Eukaryotes Assembly",
  content: "Genome assembly is the process of taking many individual disconnected graphs (pieces of the DNA) that are processed independently by an assembler and putting them back together to create the original assembly.",
  learnMore: "/services/eukassembly"
}
%}

<!-- Image by <a href="https://pixabay.com/users/schäferle-3372715/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2125123">Schäferle</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2125123">Pixabay</a> -->
{% set prokassembly = {
  imgLink: "http://bioinfocore.usu.edu/raikou/image/biocore/serviceImages/prokaryotes.png",
  name: "Prokaryotes Assembly",
  content: "Genome assembly is the process of taking many individual disconnected graphs (pieces of the DNA) that are processed independently by an assembler and putting them back together to create the original assembly.",
  learnMore: "/services/prokassembly"
}
%}

{% set services = [rnaSeq, varSeq, scRNA, metSeq, mirna, chip, gbs, amplicon, metagenomics, eukassembly, prokassembly] %}