{% extends "templates/main.template.njk" %}

{% from "./_service-data.njk" import services %}
{% from "components/_service-card.njk" import serviceCard %}

{% block content %}
	<article class="kbl-content-wrapper">
		<div class="container-fluid mt-5" style="padding-right: 100px; padding-left: 100px;">
			<div class="row justify-content-center px-5">
				<div class="col-lg-10">
					<div class="content-section-header center">
						<h2 class="heavy">Services We Provide</h2>
						<p class="description">The Bioinformatics Facility provides several data analysis services, particularly on Next-Generation Sequencing (NGS) data. The Basic Read Processing (base calling, quality check, trimming of reads, etc.) is provided free of charge for users performing sequencing at the Genomics Facility of USU.</p>
					</div>
				</div>
			</div>
			<div class="row px-5">

				{% for service in services %}
					<div class="col-12 col-sm-6 col-md-4">
						{{ serviceCard(service) }}
					</div>
				{% endfor %}
			</div>
		</div>
		
		{% include "components/home/welcome.njk" %}

	</article>
{% endblock %}
