@import '../../scss/globals';

// The steps for each service
.service-steps-container .level-1 {
  list-style-type: circle;
  padding: 0;
  margin: 20px;
}

.service-steps-container .level-2 {
  list-style-type: circle!important;
  padding: 0 40px;
  margin: 0;
}

.service-steps-container .level-1 > li {
  font-size: 110%;
  font-weight: $font-weight-medium;
}

.service-steps-container .level-2 > li {
  font-size: 100%;
  font-weight: $font-weight-light;
}

.pt-40 {
  padding-top: 40px;
}

.service-wrapper {
  background: white!important;
  text-align: left;
}
