{% extends "templates/main.template.njk" %}

{% block content %}
	<article class="kbl-content-wrapper">
		<section class="content-section services-section">
			<div class="container-fluid px-5">
				<div class="row justify-content-center px-5">
					<div class="col-lg-10">
						<div class="content-section-header center">
							<h2 class="heavy">services we provide</h2>
							<p class="description">The Bioinformatics Facility provides several data analysis services, particularly on Next-Generation Sequencing (NGS) data. The Basic Read Processing (base calling, quality check, trimming of reads, etc.) is provided free of charge for users performing sequencing at the Genomics Facility of USU.</p>
						</div>
					</div>
				</div>
				<div class="row px-5">
					<div class="col-12 col-sm-6 col-md-4">
						<div class="icon-box v4 with-image">
							<figure class="post-thumbnail">
								<div class="hover"><a href="biocore-images/picture5/slide1.jpg" class="lightbox-images"><span class="wicon-iconmonstr-zoom-in-thin"></span></a></div><img src="biocore-images/picture5/slide1.jpg" alt="">
							</figure>
							<header><span class="wicon-iconmonstr-bar-chart-thin"></span>
								<h4 class="heavy">RNA-Seq data analysis</h4>
							</header>
							<p style="height: 150px;" class="mt-3 block">Whole transcriptome shotgun sequencing (WTSS), uses next-generation sequencing (NGS) to reveal the presence and quantity of RNA in a biological sample at a given moment. RNA-Seq is used to analyze a changing cellular transcriptome.</p>
							<p><a href="#" class="color-link">Learn more <i class="fa fa-long-arrow-right"></i></a></p>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-4">
						<div class="icon-box v4 with-image">
							<figure class="post-thumbnail">
								<div class="hover"><a href="biocore-images/picture5/slide2.jpg" class="lightbox-images"><span class="wicon-iconmonstr-zoom-in-thin"></span></a></div><img src="biocore-images/picture5/slide2.jpg" alt="">
							</figure>
							<header><span class="wicon-iconmonstr-folder-full-thin"></span>
								<h4 class="heavy">Methyl-Seq data analysis</h4>
							</header>
							<p style="height: 150px;" class="mt-3 block">Bisulfite sequencing is the use of bisulfite treatment of DNA before routine sequencing to determine the pattern of methylation. DNA methylation was the first discovered epigenetic mark, and remains the most studied.</p>
							<p><a href="#" class="color-link">Learn more <i class="fa fa-long-arrow-right"></i></a></p>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-4">
						<div class="icon-box v4 with-image">
							<figure class="post-thumbnail">
								<div class="hover"><a href="biocore-images/picture5/slide3.jpg" class="lightbox-images"><span class="wicon-iconmonstr-zoom-in-thin"></span></a></div><img src="biocore-images/picture5/slide3.jpg" alt="">
							</figure>
							<header><span class="wicon-iconmonstr-gear-thin"></span>
								<h4 class="heavy">SNP-Seq data analysis</h4>
							</header>
							<p style="height: 150px;" class="mt-3 block">SNP genotyping is the measurement of genetic variations of single nucleotide polymorphisms (SNPs) between members of a species. It is a form of genotyping, which is the measurement of more general genetic variation.</p>
							<p><a href="#" class="color-link">Learn more <i class="fa fa-long-arrow-right"></i></a></p>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-4">
						<div class="icon-box v4 with-image">
							<figure class="post-thumbnail">
								<div class="hover"><a href="biocore-images/picture5/slide4.jpg" class="lightbox-images"><span class="wicon-iconmonstr-zoom-in-thin"></span></a></div><img src="biocore-images/picture5/slide4.jpg" alt="">
							</figure>
							<header><span class="wicon-iconmonstr-database-thin"></span>
								<h4 class="heavy">ChIP-Seq data analysis</h4>
							</header>
							<p style="height: 150px;" class="mt-3 block">In order to analyze protein interactions with DNA, ChIP-seq combines chromatin immunoprecipitation (ChIP) with massively parallel DNA sequencing to identify the binding sites of DNA-associated proteins.</p>
							<p><a href="#" class="color-link">Learn more <i class="fa fa-long-arrow-right"></i></a></p>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-4">
						<div class="icon-box v4 with-image">
							<figure class="post-thumbnail">
								<div class="hover"><a href="biocore-images/picture5/slide5.jpg" class="lightbox-images"><span class="wicon-iconmonstr-zoom-in-thin"></span></a></div><img src="biocore-images/picture5/slide5.jpg" alt="">
							</figure>
							<header><span class="wicon-iconmonstr-info-thin"></span>
								<h4 class="heavy">miRNA-seq</h4>
							</header>
							<p style="height: 150px;" class="mt-3 block">MiRNA-seq is the use of next-generation sequencing or massively parallel high-throughput DNA sequencing to sequence microRNAs. miRNA-seq differs from other forms of RNA-seq in that input material is enriched for small RNAs.</p>
							<p><a href="#" class="color-link">Learn more <i class="fa fa-long-arrow-right"></i></a></p>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-4">
						<div class="icon-box v4 with-image">
							<figure class="post-thumbnail">
								<div class="hover"><a href="biocore-images/picture5/slide6.jpg" class="lightbox-images"><span class="wicon-iconmonstr-zoom-in-thin"></span></a></div><img src="biocore-images/picture5/slide6.jpg" alt="">
							</figure>
							<header><span class="wicon-iconmonstr-light-bulb-thin"></span>
								<h4 class="heavy">Sequence assembly</h4>
							</header>
							<p style="height: 150px;" class="mt-3 block">Referring to aligning and merging fragments from a longer DNA sequence in order to reconstruct the original sequence. This is needed as DNA sequencing technology cannot read whole genomes in one go.</p>
							<p><a href="#" class="color-link">Learn more <i class="fa fa-long-arrow-right"></i></a></p>
						</div>
					</div>
				</div>
			</div>
		</section><!-- Services end -->
		<!-- Text start -->
		<section class="content-section image-bg image-bg-10">
			<div class="container-fluid px-5">
				<div class="row px-5">
					<div class="col-md-6">
						<p class="text-decor-1">welcome to USU bioinformatics core facility</p>
						<p class="text-decor-2 text-white">Ideas and breakthroughs fueled by computational prediction and next generation sequencing.</p>
					</div>
					<div class="col-md-6">
						<p>Our unit has been contributing to different research projects by providing, (i) Support and expertise in programming
							and advanced data analysis, focusing primarily on high-throughput genomics technologies including
							microarrays, genotyping and next-generation sequencing (RNA-seq, ChIP-seq, SNP-seq, etc.), (ii) Virtual
							server environments, secure and public web portals, and a large suite of open source applications, (iii)
							Instruction of hands-on tutorials and workshops on a wide variety of informatics topics, (iv) Custom data
							analysis and consultation services, and (v) Establishment of research collaborations with experimental
							scientists from different departments.</p>
						<p>
							<a href="#" class="btn kbl-btn-1"><i class="fa fa-file"></i> get a quotation</a>
							<a href="#" class="btn kbl-btn-2">get in touch</a>
						</p>
					</div>
				</div>
			</div>
		</section><!-- Text end -->
	</article>
{% endblock %}
