{% macro service(filename, titleName, linkName) %}
{% set file = "services/" + filename + "/content.njk" %}
<!DOCTYPE html>
<html lang="en">
	{% include "universal/_header.njk" %}
	<body>
		{% include "universal/_preload.njk" %}
		{% include "universal/_navbar.njk" %}

		<div class="service-wrapper">
			{%  from "components/svc-titlebar/svc-titlebar.njk" import titlebar %}
			{{ titlebar(titleName, linkName) }}

			<article class="container">
				<div class="row">
					<section class="col-md-8 pt-40">
						{% include (file) %}
					</section>

					<section class="col-md-4">
						{% include "components/svc-sidebar/svc-sidebar.njk" %}
					</section>
				</div>
			</article>
		</div>

		{% include "universal/_footer.njk" %}
		{% include "universal/_footer-scripts.njk" %}
	</body>
</html>
{% endmacro %}
