{% extends "templates/main.template.njk" %}

{% block content %}

{% from "components/career-card.njk" import careerCard %}

<article class="container mt-4">
  <h2>Sys</h2>

  
</article>

{% endblock %}
