{% extends "templates/main.template.njk" %}

{% block content %}

{% from "components/career-card.njk" import careerCard %}

<article class="container mt-5">

  <div class="row justify-content-center mt-5">
    <div class="col text-right">
      <i class="fas fa-tools job-header-icon"></i>
    </div>
    <div class="col-10">

      <h2>Bioinformatics Systems Administrator</h2>

      <p>
        The Bioinformatics Core Facility at the Center for Integrated BioSystems (CIB) is currently looking for an undergraduate or a 
        graduate student interested in working as a part-time Linux systems administrator. The job responsibilities include a variety of 
        administrative tasks on the CIB's high-performance compute cluster, including the following:
      </p>

      <h4 class="heavy">Hardware</h4>

      <p>
        Systems installation, deployment, monitoring, and maintenance duties. 
      </p>

      <h4 class="heavy">Software</h4>

      <p>
        Manage various software systems that run the HPC, including websites, virtual machines, system modules, programs that many tasks, etc.
      </p>

      <h4 class="heavy">Expected Skillsets</h4>

      <ul>
        <li>2+ years of Linux experience</li>
        <li>1+ years of computer hardware experience (know how to install an operating system like Linux and Windows)</li>
        <li>1+ years of programming, preferably JavaScript/TypeScript</li>
      </ul>

      <h4 class="heavy">Nice to Have</h4>

      <ul>
        <li>Experience with web development. We use ReactJS, NodeJS, and MongoDB, so knowledge of any of those will be helpful.</li>
        <li>Extensive knowledge with programming in general. If you have a language that you're comfortable with, that's a big plus.</li>
        <li>Experience with workload managing and parallel programming (MPI and SLURM)</li>
      </ul>
    </div>
  </div>
</article>

{% endblock %}
