{% macro priceItem(data) %}
  <div class="container-fluid kbl-pricing-item text-center pt-3 mx-auto mt-1 pb-2" id="{{ data.id }}">
    <h4 class="name">{{ data.name }}</h4>
    <div class="subtitle">
      <a href="/services/{{ data.link }}">Learn more</a>
    </div>

    <ul class="bullets">

      {% for bullet in data.bullets %}
        <li>{{ bullet  }}</li>
      {% endfor %}

    </ul>

    {% if (data.id == 'genome') %}
      <div>Gb of Data</div>
    {% else %}
      <div>Number of Samples</div>
    {% endif %}

    <div class="row justify-content-center">
      <div class="col-auto pt-1 my-auto">
        <span class="fa-stack minus" id="{{ data.id }}-minus">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fas fa-minus fa-stack-1x"></i>
        </span>
      </div>

      <div class="col-3 px-0">
        {% if (data.id == 'genome') %}
          <input type="number" id="{{ data.id }}-input" class="price-field" placeholder="4" value="4" />
        {% else %}
          <input type="number" id="{{ data.id }}-input" class="price-field" placeholder="10" value="10" />
        {% endif %}
      </div>

      <div class="col-auto pt-1 my-auto">
        <span class="fa-stack plus" id="{{ data.id }}-plus">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fas fa-plus fa-stack-1x"></i>
        </span>
      </div>
    </div>

    <h4 class="price mt-4">$<span class="price-data">{{ data.price }}</span></h4>
  </div>
{% endmacro %}
