{% macro switch(prev="#", next="#") %}
  <footer class="article-footer">
    <a href="{{ prev }}" class="btn btn-4"><i class="fa fa-angle-left"></i> Prev</a>
    <a href="{{ next }}" class="btn btn-4">Next <i class="fa fa-angle-right"></i></a>
  </footer>
{% endmacro %}
