<!DOCTYPE html>
<html lang="en">
	{% from "universal/_header-macro.njk" import header %}
	{{ header(bs5=false) }}
	<body>
		{% include "universal/_preload.njk" %}
		{% include "universal/_new-nav.njk" %}

    {% block content %}

    {% endblock %}

		{% include "universal/_footer-bs4.njk" %}
		
		{% from "universal/_scripts-macro.njk" import scripts %}
		{{ scripts(bs4=bs4) }}
		<script src="js/kbl/search.js"></script>
		<script src="js/kbl/navbar.js"></script>
	</body>
</html>
