<!DOCTYPE html>
{% set bs4 = true %}
<html lang="en">
	{% from "universal/_header-macro.njk" import header %}
	{{ header(bs4=bs4) }}
	<body>
		{% include "universal/_preload.njk" %}
		{% from "universal/_navbar-switch.njk" import navbar %}
		{{ navbar(bs4=bs4) }}

		<div class="service-wrapper">
			{%  from "components/svc-titlebar/svc-titlebar.njk" import titlebar %}
      {% block title %}

      {% endblock %}

			<article class="container-fluid px-5">
				<div class="row px-5">
					<section class="col-md-8 pt-40">
						{% block content %}

            {% endblock %}
					</section>

					<section class="col-md-4">
						{% include "components/svc-sidebar/svc-sidebar.njk" %}
					</section>
				</div>
			</article>
		</div>

		{% from "universal/_footer-switch.njk" import footer %}
		{{ footer(bs4=bs4) }}
		{% from "universal/_scripts-macro.njk" import scripts %}
		{{ scripts(bs4=bs4) }}

		{% block scripts %}

		{% endblock %}
	</body>
</html>
