<!DOCTYPE html>
<html lang="en">
	{% from "universal/_header-macro.njk" import header %}
	{{ header(bs5=false) }}
	<body>
		{% include "universal/_preload.njk" %}
		{% include "universal/_navbar-bs4.njk" %}

		<div class="service-wrapper">
			{%  from "components/svc-titlebar/svc-titlebar.njk" import titlebar %}
      {% block title %}

      {% endblock %}

			<article class="container-fluid px-5">
				<div class="row px-5">
					<section class="col-md-8 pt-40">
						{% block content %}

            {% endblock %}
					</section>

					<section class="col-md-4">
						{% from "components/svc-sidebar/svc-sidebar.njk" import serviceSidebar %}
						{{ serviceSidebar() }}
					</section>
				</div>
			</article>
		</div>

		{% include "universal/_footer-bs4.njk" %}
		{% from "universal/_scripts-macro.njk" import scripts %}
		{{ scripts(bs4=bs4) }}

		{% block scripts %}

		{% endblock %}
		<script src="js/kbl/search.js"></script>
		<script src="js/kbl/navbar.js"></script>
	</body>
</html>
